openapi: 3.0.0
info:
  title: DOJAH APIs
  description: Use Dojah to verify, onboard and manage user identity across Africa!
  version: 1.0.0
  x-konfig-ignore:
    no-additional-properties: true
    potential-incorrect-type: true
    object-with-no-properties: true
servers:
  - url: https://api.dojah.io
  - url: https://sandbox.dojah.io
tags:
  - name: KYC
  - name: Financial
  - name: General
  - name: Authentication
  - name: Wallet
  - name: KYB
  - name: ML
  - name: WebHooks
  - name: GH KYC
  - name: AML
  - name: Services
  - name: UG KYC
  - name: KE KYC
paths:
  /api/v1/gh/kyc/dl:
    get:
      tags:
        - GH KYC
      summary: Driver's License
      operationId: GHKYC_getDriversLicense
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: id
          in: query
          schema:
            type: string
          example: V0000000
        - name: full_name
          in: query
          schema:
            type: string
          example: John Doe
        - name: date_of_birth
          in: query
          schema:
            type: string
          example: '1988-09-01'
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            x-moesif-transaction-id:
              schema:
                type: string
                example: f83d945e-a520-4f69-a6c8-57c093d3a956
            service:
              schema:
                type: string
                example: kyc_ghana_drivers_license
            product:
              schema:
                type: string
                example: kyc
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            ETag:
              schema:
                type: string
                example: W/"8d93a-oziFRNZhAWQN2hwX/rJJPiwF/Gg"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Thu, 16 Dec 2021 23:41:00 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDriversLicenseResponse'
  /api/v1/gh/kyc/passport:
    get:
      tags:
        - GH KYC
      summary: Passport
      operationId: GHKYC_getPassport
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: id
          in: query
          schema:
            type: string
          example: G0000000
        - name: first_name
          in: query
          schema:
            type: string
          example: John
        - name: last_name
          in: query
          schema:
            type: string
          example: Doe
        - name: middle_name
          in: query
          schema:
            type: string
          example: Jack
        - name: date_of_birth
          in: query
          schema:
            type: string
          example: '1990-04-05'
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            x-moesif-transaction-id:
              schema:
                type: string
                example: ba33059b-043c-4cf8-b60a-f95fd231423d
            service:
              schema:
                type: string
                example: kyc_ghana_passport
            product:
              schema:
                type: string
                example: kyc
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            ETag:
              schema:
                type: string
                example: W/"8d984-e3YZTs56aQzqh6gOQicMov2GSZE"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Thu, 16 Dec 2021 23:53:15 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPassportResponse'
  /api/v1/gh/kyc/ssnit:
    get:
      tags:
        - GH KYC
      summary: SSNIT
      operationId: GHKYC_getSsnit
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: id
          in: query
          schema:
            type: string
          example: G0000000
        - name: full_name
          in: query
          schema:
            type: string
          example: John Doe
        - name: date_of_birth
          in: query
          schema:
            type: string
          example: '1990-04-05'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSsnitResponse'
  /api/v1/ug/kyc/voter:
    get:
      tags:
        - UG KYC
      summary: Voters ID
      operationId: UGKYC_getVoter
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: id
          in: query
          schema:
            type: integer
          example: 67335751
        - name: first_name
          in: query
          schema:
            type: string
          example: Happy
        - name: last_name
          in: query
          schema:
            type: string
          example: Christmas
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoterResponse'
  /api/v1/ke/kyc/id:
    get:
      tags:
        - KE KYC
      summary: KYC - National ID
      operationId: KEKYC_getNationalId
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: id
          in: query
          schema:
            type: integer
          example: 24798402
        - name: first_name
          in: query
          schema:
            type: string
          example: ZEDEKIAH
        - name: last_name
          in: query
          schema:
            type: string
          example: ANDENGA
        - name: middle_name
          in: query
          schema:
            type: string
        - name: date_of_birth
          in: query
          schema:
            type: string
          example: '1985-12-29'
        - name: gender
          in: query
          schema:
            type: string
          example: M
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNationalIdResponse'
  /api/v1/kyc/dl:
    get:
      tags:
        - KYC
      summary: KYC - Get Drivers License Info
      operationId: KYC_getDriversLicense
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: license_number
          in: query
          schema:
            type: string
          example: FKJ49409AB13
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKycDriversLicenseResponse'
  /api/v1/kyc/nuban:
    get:
      tags:
        - KYC
      summary: KYC - Get NUBAN Information
      operationId: KYC_getNuban
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: bank_code
          in: query
          schema:
            type: integer
          example: 58
        - name: account_number
          in: query
          schema:
            type: integer
          example: 11223344
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 547
            ETag:
              schema:
                type: string
                example: W/"223-awqCLWeHqrkGXYT0u4ObwmhtaeM"
            Date:
              schema:
                type: string
                example: Tue, 06 Oct 2020 14:54:49 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNubanResponse'
  /api/v1/kyc/bvn:
    get:
      tags:
        - KYC
      summary: KYC - Validate BVN
      operationId: KYC_validateBvn
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: bvn
          in: query
          schema:
            type: integer
          example: 22250148240
        - name: first_name
          in: query
          schema:
            type: string
          example: FRANCIS
        - name: dob
          in: query
          schema:
            type: string
          example: '1982-02-19'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateBvnResponse'
  /api/v1/kyc/bvn/basic:
    get:
      tags:
        - KYC
      summary: KYC - Get Basic BVN Info
      operationId: KYC_getBasicBvn
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: bvn
          in: query
          schema:
            type: integer
          example: 22468537919
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBasicBvnResponse'
  /api/v1/kyc/bvn/full:
    get:
      tags:
        - KYC
      summary: KYC - Lookup BVN Basic
      operationId: KYC_getFullBvn
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: bvn
          in: query
          schema:
            type: integer
          example: 22222222222
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFullBvnResponse'
  /api/v1/kyc/bvn/advance:
    get:
      tags:
        - KYC
      summary: KYC - Lookup BVN Premium
      operationId: KYC_getPremiumBvn
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: bvn
          in: query
          schema:
            type: integer
          example: 22305638508
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Thu, 28 Oct 2021 23:22:04 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            x-moesif-transaction-id:
              schema:
                type: string
                example: 6925a539-953c-49a5-8835-ab3034c268e5
            service:
              schema:
                type: string
                example: kyc_bvn_advance
            product:
              schema:
                type: string
                example: kyc
            etag:
              schema:
                type: string
                example: W/"8dad6-9+aM0fugmLIDPxSAQYKB6fzpqNA"
            vary:
              schema:
                type: string
                example: Accept-Encoding
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=N8Knn6%2F6B8Y0NZm6wpjxiXsENx6u%2FlMRevPNAb0IrHo6yXQDcqqsZK%2Fx1DhZ5aX7JOLAKKizfiy3KaoTYpoOTNy0Mh5uPFuevRpB5jVualn1UmavKmNdk3YSQB0cPeVOLUQJG7E0%2BebAwg%3D%3D"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 6a57e76cde23150d-MAD
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3=":443"; ma=86400, h3-29=":443"; ma=86400, h3-28=":443";
                  ma=86400, h3-27=":443"; ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPremiumBvnResponse'
  /api/v1/kyc/vnin:
    get:
      tags:
        - KYC
      summary: Lookup VNIN
      operationId: KYC_getVnin
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: vnin
          in: query
          schema:
            type: string
          example: AB012345678910YZ
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVninResponse'
  /v1/kyc/phone_number/basic:
    get:
      tags:
        - KYC
      summary: KYC Lookup Phone Number Basic
      operationId: KYC_getBasicPhoneNumber
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: phone_number
          in: query
          schema:
            type: integer
          example: 8068810228
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBasicPhoneNumberResponse'
  /api/v1/kyc/phone_number:
    get:
      tags:
        - KYC
      summary: KYC - Lookup Phone Number
      operationId: KYC_getPhoneNumber
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: phone_number
          in: query
          schema:
            type: integer
          example: 8011111111
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPhoneNumberResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPhoneNumber404Response'
  /v1/kyc/age_verification:
    get:
      tags:
        - KYC
      summary: KYC - Age Verification
      operationId: KYC_verifyAge
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: mode
          in: query
          schema:
            type: string
          example: account_number
        - name: account_number
          in: query
          schema:
            type: integer
          example: 3046507407
        - name: bank_code
          in: query
          schema:
            type: integer
          example: 11
        - name: dob
          in: query
          schema:
            type: string
          example: '1993-06-10'
        - name: first_name
          in: query
          schema:
            type: string
          example: Mosh
        - name: last_name
          in: query
          schema:
            type: string
          example: Saliu
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 104
            ETag:
              schema:
                type: string
                example: W/"68-yERzSjzlwoE0rxH3I+l3xtgO17I"
            Date:
              schema:
                type: string
                example: Wed, 07 Oct 2020 16:39:16 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyAgeResponse'
  /v1/kyc/bvn/verify:
    post:
      tags:
        - KYC
      summary: KYC - Selfie BVN Verificatoin
      operationId: KYC_verifySelfieBvn
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySelfieBvnRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySelfieBvnResponse'
  /v1/kyc/nin/verify:
    post:
      tags:
        - KYC
      summary: KYC - Selfie NIN Verification
      operationId: KYC_verifySelfieNin
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySelfieNinRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySelfieNinResponse'
  /api/v1/kyc/vin:
    get:
      tags:
        - KYC
      summary: KYC - Get VIN
      operationId: KYC_getVIN
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: mode
          in: query
          schema:
            type: string
          example: vin
        - name: firstname
          in: query
          schema:
            type: string
          example: moshood
        - name: lastname
          in: query
          schema:
            type: string
          example: saliu
        - name: vin
          in: query
          schema:
            type: integer
          example: 55586
        - name: state
          in: query
          schema:
            type: string
          example: ondo
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 12 Apr 2021 13:31:13 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"174-qSAnNYHgL5xH0o9R4/PAQ2cDzrE"
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            cf-request-id:
              schema:
                type: string
                example: 0967e04d310000bf5f9c310000000001
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              schema:
                type: string
                example: >-
                  {"max_age":604800,"group":"cf-nel","endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report?s=L1%2Bm8V1sbTZHEDg%2BrFsXtRcV2iIeRuQ9Zkt%2B49L91xIYYLr4oP7HU3DZaBVLfUjM%2F03DJHObMPkO6gpfaIuY6i%2FoCS0npvp5%2FDbAQzo%3D"}]}
            NEL:
              schema:
                type: string
                example: '{"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 63eccff518a0bf5f-AMS
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3-27=":443"; ma=86400, h3-28=":443"; ma=86400, h3-29=":443";
                  ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVinResponse'
  /v1/kyc/email:
    get:
      tags:
        - KYC
      summary: KYC - Get Email Reputation
      operationId: KYC_getEmailReputation
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: email
          in: query
          schema:
            type: string
          example: johndoe@gmail.com
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 21 Jul 2021 23:05:12 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            CF-Ray:
              schema:
                type: string
                example: 6728128dadddc500-LOS
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"2e9-pCb+uGuPEvkJjAiEzq42IVp9ATs"
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-Powered-By:
              schema:
                type: string
                example: Express
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=XuvPXoaWVVjuT0s2pSoW3bC1PldQJXghR%2ByyYpfEKlTJMY2YZikSIKrSH8ujg7ikMaXtY4BjH1Niw1An4Jl3FKWfX1XL%2B30bj1prYkxmTYAFiMJ3iqXydDlE%2BqYyMR4%3D"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"report_to":"cf-nel","max_age":604800}'
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Server:
              schema:
                type: string
                example: cloudflare
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3-27=":443"; ma=86400, h3-28=":443"; ma=86400, h3-29=":443";
                  ma=86400, h3=":443"; ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEmailReputationResponse'
  /api/v1/kyc/passport:
    get:
      tags:
        - KYC
      summary: KYC - Passport
      operationId: KYC_getPassport
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: passport_number
          in: query
          schema:
            type: integer
          example: 70142502085
        - name: surname
          in: query
          schema:
            type: string
          example: ololade
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKycPassportResponse'
  /api/v1/document/analysis:
    post:
      tags:
        - KYC
      summary: KYC - Document Analysis
      operationId: KYC_analyzeDocument
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeDocumentResponse'
  /v1/kyc/cac:
    get:
      tags:
        - KYB
      summary: 'KYC - Get CAC '
      operationId: KYB_getCac
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: rc_number
          in: query
          schema:
            type: integer
          example: 1432074
        - name: company_name
          in: query
          schema:
            type: string
          example: ELTA SOLUTIONS LIMITED
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 263
            ETag:
              schema:
                type: string
                example: W/"107-41SJwH2M/TDtOClRlqxed6NP2lI"
            Date:
              schema:
                type: string
                example: Tue, 06 Oct 2020 16:08:17 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCacResponse'
  /v1/kyc/cac/basic:
    get:
      tags:
        - KYB
      summary: KYB - Get CAC 2
      operationId: KYB_getBasicCac
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: rc
          in: query
          schema:
            type: integer
          example: 3330883
        - name: type
          in: query
          schema:
            type: string
          example: bn
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBasicCacResponse'
  /v1/kyc/cac/advance:
    get:
      tags:
        - KYB
      summary: KYC - Get CAC Advanced
      operationId: KYB_getAdvancedCac
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: rc
          in: query
          schema:
            type: integer
          example: 1432074
        - name: type
          in: query
          schema:
            type: string
          example: co
        - name: class
          in: query
          schema:
            type: string
          example: advance
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdvancedCacResponse'
  /v1/kyc/tin:
    get:
      tags:
        - KYB
      summary: KYC - Fetch Tin
      operationId: KYB_getTin
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: tin
          in: query
          schema:
            type: string
          example: 21148119-0001
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 244
            ETag:
              schema:
                type: string
                example: W/"f4-33tq3v78T6aKG4EjlF+RD4NJEG4"
            Date:
              schema:
                type: string
                example: Fri, 02 Oct 2020 12:31:55 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTinResponse'
  /api/v1/messaging/sms:
    post:
      tags:
        - Authentication
      summary: Messaging - Send SMS
      operationId: Authentication_sendSms
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSmsRequest'
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 130
            ETag:
              schema:
                type: string
                example: W/"82-hQNuuW562XiuyVWQdEM6qK2o3Yc"
            Date:
              schema:
                type: string
                example: Mon, 05 Oct 2020 14:01:49 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendSmsResponse'
  /v1/messaging/sms/get_status:
    get:
      tags:
        - Authentication
      summary: Messaging - Get SMS Status
      operationId: Authentication_getSmsStatus
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: message_id
          in: query
          schema:
            type: string
          example: 54818c8a-4aed-4e5f-b846-8274fd4e0bbd
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 31
            ETag:
              schema:
                type: string
                example: W/"1f-J3nlrUdeElvtvkF2S/UaHZnypss"
            Date:
              schema:
                type: string
                example: Wed, 14 Oct 2020 13:11:20 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSmsStatusResponse'
  /v1/messaging/otp:
    post:
      tags:
        - Authentication
      summary: Messaging - Send OTP
      operationId: Authentication_sendOtp
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendOtpRequest'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Fri, 29 Oct 2021 00:11:30 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            x-moesif-transaction-id:
              schema:
                type: string
                example: c77bc061-4a70-42b9-88dd-c8bcb1ce64c4
            etag:
              schema:
                type: string
                example: W/"bc-oKUpfG+wOCA/ZZdrr7UCJAuXZOs"
            vary:
              schema:
                type: string
                example: Accept-Encoding
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=yutdxK3QJ9sWDVJWM8%2BhTq9o8reYJNw71SINNYN0anY70dzCpDQpTX1SiDzm%2FHPZaaHPovp9RttEjeQbUfzKQSyDuj%2BXSyuRD4bUNVd%2BRrV76JDo0o1EOUgXpDUL7sbncLIx27ewTrLoBQ%3D%3D"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 6a582fc3df637767-LHR
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3=":443"; ma=86400, h3-29=":443"; ma=86400, h3-28=":443";
                  ma=86400, h3-27=":443"; ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendOtpResponse'
  /v1/messaging/otp/validate:
    get:
      tags:
        - Authentication
      summary: Messaging - Validate OTP
      operationId: Authentication_validateOtp
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: reference_id
          in: query
          schema:
            type: string
          example: a89e4b64-367f-414f-a189-1800bc364b05
        - name: code
          in: query
          schema:
            type: integer
          example: 81974
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 25
            ETag:
              schema:
                type: string
                example: W/"19-GBsO/UtcMY9D47ZVGAp0psXl/eA"
            Date:
              schema:
                type: string
                example: Mon, 05 Oct 2020 17:31:58 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateOtpResponse'
  /api/v1/messaging/sender_ids:
    get:
      tags:
        - Authentication
      summary: Messaging - Get Sender IDs
      operationId: Authentication_getSenderId
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 330
            ETag:
              schema:
                type: string
                example: W/"14a-pjN0reHYtXysWCyKwGmi/Sfm4qU"
            Date:
              schema:
                type: string
                example: Fri, 30 Oct 2020 01:04:02 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSenderIdResponse'
  /api/v1/messaging/sender_id:
    post:
      tags:
        - Authentication
      summary: Messaging - Request Sender ID
      operationId: Authentication_requestSenderId
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestSenderIdRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSenderIdResponse'
  /v1/wallet/ngn/create:
    post:
      tags:
        - Wallet
      summary: Create NGN Wallet
      operationId: Wallet_createWallet
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 140
            ETag:
              schema:
                type: string
                example: W/"8c-YS3fYUipsutx+W2IxHQkCO1CeU8"
            Date:
              schema:
                type: string
                example: Mon, 25 Jan 2021 16:49:43 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWalletResponse'
              examples:
                example-0:
                  summary: Create NGN Wallet
                  value:
                    entity:
                      wallet_id: 352a14e2-25ab-448a-86ed-8e9041540599
                      wallet_amount: 0
                      account_number: '1000039707'
                      phone_number: '08159090922'
                example-1:
                  summary: Create NGN Wallet Pelumi
                  value:
                    entity:
                      wallet_id: 867a8cae-8073-4914-8b04-d7fd096c1006
                      wallet_amount: 0
                      account_number: '1004204891'
                      phone_number: '09059895710'
  /v1/wallet/ngn/retrieve:
    get:
      tags:
        - Wallet
      summary: Retrieve Wallet Details
      operationId: Wallet_getWallet
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: wallet_id
          in: query
          schema:
            type: string
          example: 694a047f-fb99-46d7-8c3c-d655716a834a
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Thu, 28 Oct 2021 22:31:45 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            x-moesif-transaction-id:
              schema:
                type: string
                example: 3079fdf5-dd11-4ac4-a8f8-37ce02eb4823
            service:
              schema:
                type: string
                example: retrieve_wallet_details
            product:
              schema:
                type: string
                example: wallet
            etag:
              schema:
                type: string
                example: W/"a6-3BuJW39Z3Xb0YgSKa9EAbvZJC1c"
            vary:
              schema:
                type: string
                example: Accept-Encoding
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=tQFlZ1RZ3TenWsfrZYApbkIzqoORp12TJj0%2Bc%2BCYeTCmTcIP%2FJF58UwV%2FKIXCbVT2EF8UvwrbhlLv98LmeSPpgj6cnD4dvb1Smk%2B2z6LTU8RBYpiiroHrBiVwA4n9h9chB2ZlWNzbeTQng%3D%3D"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 6a579db5face7768-LHR
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3=":443"; ma=86400, h3-29=":443"; ma=86400, h3-28=":443";
                  ma=86400, h3-27=":443"; ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletResponse'
  /v1/wallet/ngn/accounts:
    get:
      tags:
        - Wallet
      summary: Get Wallets
      operationId: Wallet_getWallets
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: app_id
          in: query
          schema:
            type: string
          example: '{{app_id}}'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Thu, 28 Oct 2021 22:08:44 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            x-moesif-transaction-id:
              schema:
                type: string
                example: 68180338-3a01-468e-8a1e-50a3d68e066c
            service:
              schema:
                type: string
                example: wallets_fetch
            product:
              schema:
                type: string
                example: wallet
            etag:
              schema:
                type: string
                example: W/"f2-9haBFyP47m0OLh++NccGhRlBA6s"
            vary:
              schema:
                type: string
                example: Accept-Encoding
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=5QyNmdAMKJXgqFdf8ayW4jYnJXamkXPYW3kHZxn9Sq%2BaP5PpcUZH1GogxSVWZ9BNd4I8S8UDdjtilUg48yeqrXgIZpybl1cKQL5%2FnO1WfyJf2%2FgHWOpizQa%2FrkmqHkieHrt17DBkiX0T9g%3D%3D"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 6a577c01bbdf76e7-LHR
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3=":443"; ma=86400, h3-29=":443"; ma=86400, h3-28=":443";
                  ma=86400, h3-27=":443"; ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletsResponse'
  /v1/wallet/ngn/transaction:
    get:
      tags:
        - Wallet
      summary: Retrieve Transaction Details
      operationId: Wallet_getTransaction
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: transaction_id
          in: query
          schema:
            type: string
          example: Dojah-c02585e5-9a8b-4230-8c1b-11fd2869f4ce
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 19 Jul 2021 11:55:32 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            CF-Ray:
              schema:
                type: string
                example: 6713c2e1e9e3a861-CDG
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"18a-qdUHEFuYjWVoZpNB1HSscF8M9Tg"
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-Powered-By:
              schema:
                type: string
                example: Express
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=reT%2B7xCKCI389wOJbdAQYE1Cv7WHy6MlrwdLiqf1vZzmmTLtpJn0GmptEARWR93ZBSpuiJYTdCmLKifkZw1HencupuiK7dYKdN3gEq8L9zPHJn6BHkUYzrPhRoDTjN4%3D"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"report_to":"cf-nel","max_age":604800}'
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Server:
              schema:
                type: string
                example: cloudflare
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3-27=":443"; ma=86400, h3-28=":443"; ma=86400, h3-29=":443";
                  ma=86400, h3=":443"; ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionResponse'
              examples:
                example-0:
                  summary: Retrieve Transaction Details Pelumi
                  value:
                    entity:
                      wallet_id: 867a8cae-8073-4914-8b04-d7fd096c1006
                      transaction_amount: 100
                      transaction_type: deposit
                      recipient_account_number: '1004204891'
                      sender_account_number: ''
                      transaction_remarks: Dojah-wallet-credit
                      transaction_reason: null
                      transaction_id: Dojah-c02585e5-9a8b-4230-8c1b-11fd2869f4ce
                      transaction_status: COMPLETED
                      date_created: '2021-07-19T11:54:01.905196Z'
                example-1:
                  summary: Retrieve Transaction Details
                  value:
                    entity:
                      wallet_id: 867a8cae-8073-4914-8b04-d7fd096c1006
                      transaction_amount: 50
                      transaction_type: transfer
                      recipient_account_number: '0129531822'
                      sender_account_number: '1004204891'
                      transaction_remarks: ''
                      transaction_reason: wallet has Insufficient balance
                      transaction_id: Dojah-4b0ecd96-9914-4e78-8ce9-21ebc4a34ee8
                      transaction_status: FAILED
                      date_created: '2021-07-19T11:57:38.517618Z'
  /v1/wallet/ngn/transfer:
    post:
      tags:
        - Wallet
      summary: Transfer Funds
      operationId: Wallet_transferFunds
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferFundsRequest'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 19 Jul 2021 10:44:04 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            CF-Ray:
              schema:
                type: string
                example: 67135a2e9e175998-IAD
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"182-h8cn7nlBpNZ0VaJcIyR5AJqLkLw"
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-Powered-By:
              schema:
                type: string
                example: Express
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=p4C%2FwRO%2F7ofJ0xKbeJywokrw3LkWfF%2F4zMRKDs1Dtrm2ZTpnCV4K%2FyCmdxgzFuNFL9n3I7rqr%2B6YST4GuFVEI8LvrSHKdp6bP%2Fnrt6asPQA5ln1Chiadms0qjnaeV%2Bc%3D"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"report_to":"cf-nel","max_age":604800}'
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Server:
              schema:
                type: string
                example: cloudflare
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3-27=":443"; ma=86400, h3-28=":443"; ma=86400, h3-29=":443";
                  ma=86400, h3=":443"; ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferFundsResponse'
              examples:
                example-0:
                  summary: Transfer Funds
                  value:
                    entity:
                      wallet_id: edb6c29e-a32c-4d38-8e66-62f0e731db0d
                      transaction_amount: 10
                      transaction_type: transfer
                      recipient_account_number: '0129531822'
                      sender_account_number: '1004108810'
                      transaction_remarks: ''
                      transaction_reason: null
                      transaction_id: Dojah-6bddb625-3ca9-41c0-b0fb-13f7f11adf90
                      transaction_status: PROCESSING
                      date_created: '2021-07-19T10:44:03.610405Z'
                example-1:
                  summary: Transfer Funds
                  value:
                    entity:
                      wallet_id: 867a8cae-8073-4914-8b04-d7fd096c1006
                      transaction_amount: 50
                      transaction_type: transfer
                      recipient_account_number: '0129531822'
                      sender_account_number: '1004204891'
                      transaction_remarks: ''
                      transaction_reason: null
                      transaction_id: Dojah-4b0ecd96-9914-4e78-8ce9-21ebc4a34ee8
                      transaction_status: PROCESSING
                      date_created: '2021-07-19T11:57:38.517618Z'
                example-2:
                  summary: Transfer Funds
                  value:
                    entity:
                      wallet_id: 867a8cae-8073-4914-8b04-d7fd096c1006
                      transaction_amount: 100
                      transaction_type: transfer
                      recipient_account_number: '0129531822'
                      sender_account_number: '1004204891'
                      transaction_remarks: ''
                      transaction_reason: null
                      transaction_id: Dojah-404e608c-4c85-4a87-b8ed-968564cdb67f
                      transaction_status: PROCESSING
                      date_created: '2021-07-21T04:29:03.786408Z'
  /v1/wallet/ngn/credit:
    post:
      tags:
        - Wallet
      summary: Credit Sub-wallet
      operationId: Wallet_creditSubwallet
      security:
        - apikeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditSubwalletRequest'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Mon, 19 Jul 2021 11:54:02 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            CF-Ray:
              schema:
                type: string
                example: 6713c0af98e0a861-CDG
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"18a-qdUHEFuYjWVoZpNB1HSscF8M9Tg"
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            X-Powered-By:
              schema:
                type: string
                example: Express
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=ZOYZrccMLtm7t9y8DYeH48V2Uentj7wq%2B2SALn6vCI8zD0fVKDYC9BqekAZ%2Fs5yjb0tSJkMkyubuWTJk0L%2BehcHjJ9o8h%2BKSL6nTvZe6YC3MnXecLijKEb52W5obXEs%3D"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"report_to":"cf-nel","max_age":604800}'
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Server:
              schema:
                type: string
                example: cloudflare
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3-27=":443"; ma=86400, h3-28=":443"; ma=86400, h3-29=":443";
                  ma=86400, h3=":443"; ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditSubwalletResponse'
  /api/v1/financial/account_transactions:
    get:
      tags:
        - Financial
      summary: Get Account Transactions
      operationId: Financial_getAccountTransactions
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
          example: d5b86083-08c5-4de2-ac19-7610a16c297d
        - name: length
          in: query
          schema:
            type: integer
          example: 200
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 3148
            ETag:
              schema:
                type: string
                example: W/"c4c-oy+56YKJSnRpacOSt7tUEOoefrU"
            Date:
              schema:
                type: string
                example: Tue, 06 Oct 2020 14:55:33 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountTransactionsResponse'
  /v1/financial/account_subscription:
    get:
      tags:
        - Financial
      summary: Get Account Subscriptions
      operationId: Financial_getAccountSubscriptions
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
          example: 02f63911-a958-4025-9d72-8bd2d7da274b
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 108
            ETag:
              schema:
                type: string
                example: W/"6c-a/jqufcJ1VX0CWOqBzUEbCc4UEA"
            Date:
              schema:
                type: string
                example: Tue, 06 Oct 2020 14:56:13 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountSubscriptionsResponse'
  /v1/financial/bvn_information/basic:
    get:
      tags:
        - Financial
      summary: Get BVN Information Basic
      operationId: Financial_getBasicBvn
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
          example: 34c7a2a10b4d4050869fe6f0aa6f0a30
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 07 Apr 2021 09:32:53 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"92-KYGBv8CDVrAOUBkr5veGc8HZOSo"
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            cf-request-id:
              schema:
                type: string
                example: 094d468772000006e582184000000001
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              schema:
                type: string
                example: >-
                  {"group":"cf-nel","max_age":604800,"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report?s=6eQEpUAJ1kexdxth2VMT1tGBMg0aHwGg5CcUCx8s5NM1%2BioB0c3G4bZbdO6b2DOmjXShH6j5eiucvmHnSa8zorrehM92zf4NwPpZs1oychk%3D"}]}
            NEL:
              schema:
                type: string
                example: '{"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 63c240524bff06e5-LHR
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3-27=":443"; ma=86400, h3-28=":443"; ma=86400, h3-29=":443";
                  ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialGetBasicBvnResponse'
  /v1/financial/bvn_information/full:
    get:
      tags:
        - Financial
      summary: Get BVN Information Full
      operationId: Financial_getFullBvn
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
          example: 34c7a2a10b4d4050869fe6f0aa6f0a30
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 07 Apr 2021 09:34:06 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"8dac9-cB4sTK0o4oZ5qDkRv3sWImrmwbc"
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            cf-request-id:
              schema:
                type: string
                example: 094d47a1be000006e5b1838000000001
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              schema:
                type: string
                example: >-
                  {"group":"cf-nel","max_age":604800,"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report?s=t%2FkFrIoSYsoQNk%2BfNg1Pluqc6UKyJd2IQtS%2FnwttiaUsr22LpZaongUbSMG2rOudfOyfovtLyRvc%2Bglr2Mh2HiFpGkiF2NvpQvgXGhXJFB8%3D"}]}
            NEL:
              schema:
                type: string
                example: '{"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 63c24215fd1a06e5-LHR
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3-27=":443"; ma=86400, h3-28=":443"; ma=86400, h3-29=":443";
                  ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialGetFullBvnResponse'
  /v1/financial/spending_pattern:
    get:
      tags:
        - Financial
      summary: Get Spending Pattern
      operationId: Financial_getSpendingPattern
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
          example: 02f63911-a958-4025-9d72-8bd2d7da274b
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 362
            ETag:
              schema:
                type: string
                example: W/"16a-RjLBQLt4UamrdUWd7vqcKo3moqE"
            Date:
              schema:
                type: string
                example: Sat, 26 Sep 2020 14:33:16 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpendingPatternResponse'
  /v1/financial/earning_structure:
    get:
      tags:
        - Financial
      summary: Get Earning Structure
      operationId: Financial_getEarningStructure
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
          example: 02f63911-a958-4025-9d72-8bd2d7da274b
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 118
            ETag:
              schema:
                type: string
                example: W/"76-+Iimx69sMQWukFXI4cHDIuHZB10"
            Date:
              schema:
                type: string
                example: Mon, 05 Oct 2020 17:14:25 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEarningStructureResponse'
  /v1/financial/transactions:
    post:
      tags:
        - Financial
      summary: Collect Transactions
      operationId: Financial_collectTransactions
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectTransactionsRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectTransactionsResponse'
  /api/v1/financial/transactions/pdf:
    post:
      tags:
        - Financial
      summary: Collect Status via PDF Statement
      operationId: Financial_collectStatusFromPdf
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CollectStatusFromPdfRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectStatusFromPdfResponse'
  /api/v1/financial/analysis:
    get:
      tags:
        - Financial
      summary: Get Account Analysis
      operationId: Financial_getAccountAnalysis
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Sat, 10 Sep 2022 15:11:09 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            uuid:
              schema:
                type: string
                example: f377e70d-943e-4444-9b60-7a91f7ee0f4a
            x-moesif-transaction-id:
              schema:
                type: string
                example: 5d27e6ba-d290-4466-892b-2f9f20a0008d
            service:
              schema:
                type: string
                example: analysis
            product:
              schema:
                type: string
                example: Financial
            ETag:
              schema:
                type: string
                example: W/"f7c-7maSkyunvReuG8ZutOm0b4UJB58"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=3uOd2U4h2dejKgswBDZs5gJ6%2FZC4va8RoddUP6aDte0AYMBFdb4qch669C85YrBnLHB5T7S7ROAHy1tS8IWv9krrt6lQRHrvOTd9v%2BvAl8jttWuYxFt6Azu1M8WJvKSYSkvBmLS2bf%2FB%2Fw%3D%3D"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7489182c08d64939-CPT
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: h3=":443"; ma=86400, h3-29=":443"; ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountAnalysisResponse'
  /v1/kyc/photoid/verify:
    post:
      tags:
        - ML
      summary: KYC - Selfie Photo ID Verification
      operationId: ML_verifyPhotoIdWithSelfie
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyPhotoIdWithSelfieRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyPhotoIdWithSelfieResponse'
  /v1/ml/ocr:
    post:
      tags:
        - ML
      summary: BVN Ocr
      operationId: ML_getOcrText
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOcrTextRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOcrTextResponse'
  /v1/ml/ocr/generic:
    post:
      tags:
        - ML
      summary: Generic OCR Service
      operationId: ML_getGenericOcrText
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetGenericOcrTextRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGenericOcrTextResponse'
  /v1/document/analysis/dl:
    post:
      tags:
        - ML
      summary: Document Analysis Drivers License
      operationId: ML_getDocumentAnalysis
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDocumentAnalysisRequest'
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            x-moesif-transaction-id:
              schema:
                type: string
                example: dd0980f1-8a58-4b0a-a4b1-a0cfba9ab3b2
            service:
              schema:
                type: string
                example: dl_ocr
            product:
              schema:
                type: string
                example: ml
            price:
              schema:
                type: integer
                example: 20
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 487
            ETag:
              schema:
                type: string
                example: W/"1e7-YIcIcr3MU8k7brHp9SVxmxgemVc"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Date:
              schema:
                type: string
                example: Mon, 24 Jan 2022 01:22:11 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocumentAnalysisResponse'
  /api/v1/aml/screening:
    post:
      tags:
        - AML
      summary: AML Screening
      operationId: AML_screenAml
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreenAmlRequest'
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            x-moesif-transaction-id:
              schema:
                type: string
                example: d844a747-13ce-41dc-a476-686395110f3c
            service:
              schema:
                type: string
                example: name_search
            product:
              schema:
                type: string
                example: aml
            price:
              schema:
                type: integer
                example: 100
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 85
            ETag:
              schema:
                type: string
                example: W/"55-diQHKam5ygu0IcV+PYFsKMC+sos"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Date:
              schema:
                type: string
                example: Fri, 04 Feb 2022 14:17:14 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenAmlResponse'
  /v1/aml/screening/info:
    get:
      tags:
        - AML
      summary: Get AML Info
      operationId: AML_getScreeningInfo
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: reference_id
          in: query
          schema:
            type: string
          example: c574a3c8-dc27-4013-8bbc-462e7ed87d55
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetScreeningInfoResponse'
  /api/v1/balance:
    get:
      tags:
        - General
      summary: Get Dojah Wallet Balance
      operationId: General_getWalletBalance
      security:
        - apikeyAuth: []
          appIdAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletBalanceResponse'
        '401':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralGetWalletBalanceResponse'
  /v1/purchase/airtime:
    post:
      tags:
        - General
      summary: Purchase - Send Airtime
      operationId: General_purchaseAirtime
      security:
        - apikeyAuth: []
          appIdAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseAirtimeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseAirtimeResponse'
  /v1/purchase/data:
    post:
      tags:
        - General
      summary: Purchase - Buy Data
      operationId: General_purchaseData
      security:
        - apikeyAuth: []
          appIdAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseDataRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseDataResponse'
  /v1/purchase/data/plans:
    get:
      tags:
        - General
      summary: Purchase - Get Data Plans
      operationId: General_getDataPlans
      security:
        - apikeyAuth: []
          appIdAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDataPlansResponse'
  /v1/general/banks:
    get:
      tags:
        - General
      summary: General - Get Banks
      operationId: General_getBanks
      security:
        - apikeyAuth: []
          appIdAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBanksResponse'
  /v1/general/account:
    get:
      tags:
        - General
      summary: General Resolve NUBAN
      operationId: General_getNuban
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: bank_code
          in: query
          schema:
            type: integer
          example: 58
        - name: account_number
          in: query
          schema:
            type: integer
          example: 37466959
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 82
            ETag:
              schema:
                type: string
                example: W/"52-b4fGqDl+l8q39mqXsC98SGncy1Q"
            Date:
              schema:
                type: string
                example: Sat, 03 Oct 2020 20:56:03 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralGetNubanResponse'
  /v1/general/bin:
    get:
      tags:
        - General
      summary: General Resolve BIN
      operationId: General_getBin
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters:
        - name: card_bin
          in: query
          schema:
            type: integer
          example: 506118
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBinResponse'
  /v1/ml/categorize_transaction:
    post:
      tags:
        - Services
      summary: Categorize Transactions
      operationId: Services_categorizeTransactions
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategorizeTransactionsRequest'
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 175
            ETag:
              schema:
                type: string
                example: W/"af-kJ3eLwfn4ZuaBgJBiEUiUMNAE5M"
            Date:
              schema:
                type: string
                example: Sun, 27 Sep 2020 23:52:14 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorizeTransactionsResponse'
  /api/v1/webhook/subscribe:
    post:
      tags:
        - WebHooks
      summary: Subscribe to service
      operationId: WebHooks_subscribeService
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscribeServiceRequest'
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 82
            ETag:
              schema:
                type: string
                example: W/"52-Mg51PJcV3OhbOfOAiK6f1/y5nVg"
            Date:
              schema:
                type: string
                example: Mon, 07 Jun 2021 23:48:13 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribeServiceResponse'
  /api/v1/webhook/delete:
    delete:
      tags:
        - WebHooks
      summary: Delete Webhook
      operationId: WebHooks_deleteWebhook
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteWebhookResponse'
  /api/v1/webhook/fetch:
    get:
      tags:
        - WebHooks
      summary: Fetch All Webhooks
      operationId: WebHooks_getWebhooks
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Fri, 29 Oct 2021 00:54:49 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            x-moesif-transaction-id:
              schema:
                type: string
                example: b590fe04-8f07-4801-82a2-81edddc2a7eb
            etag:
              schema:
                type: string
                example: W/"372-nrl6N1/lKfQjwSH5E3czVC2O7Jo"
            vary:
              schema:
                type: string
                example: Accept-Encoding
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=S0evXHIXXRiYwRETMKJ%2B8yP9ogneeaQ%2BO0%2FeQdmxEKCdnFerh4Pe2HV4BraL0C9FZOUmn8%2FkixVL6pM9WI7Hmr8XbV5SqsSb9zvhm%2Fg72%2Bfiqn6qITfZEJg9faAmmpI2tsg9"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 6a586f4c2c957478-LHR
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: >-
                  h3=":443"; ma=86400, h3-29=":443"; ma=86400, h3-28=":443";
                  ma=86400, h3-27=":443"; ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWebhooksResponse'
  /api/v1/webhook/notify:
    post:
      tags:
        - WebHooks
      summary: Post Hook
      operationId: WebHooks_notifyWebhook
      security:
        - apikeyAuth: []
          appIdAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyWebhookRequest'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 06 Apr 2022 23:18:47 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            x-moesif-transaction-id:
              schema:
                type: string
                example: 9b7bc9f2-3ff7-4308-a934-58e841c66208
            ETag:
              schema:
                type: string
                example: W/"2b-uacOFZZCf1Qb0O+efVLOFPlW0Wc"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v3?s=elsD6JAPRBoZ5sUFKtR2pbD2NPBDV%2BtMtuOERaFq%2F5pfhYm88dbZpwD0IGCAuT4r4GYNCt55jEhurd3kE3DIeutCrDELfPpMGdZp4MVROPCy%2BoaFCwcF8gf6SJYqmnQ8ibPx8aWW"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 6f7e3e9bfa783e99-CPT
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: h3=":443"; ma=86400, h3-29=":443"; ma=86400
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyWebhookResponse'
  /api/v1/financial/account_information:
    get:
      tags:
        - Financial
      summary: Get Account Information
      operationId: Financial_getAccount
      security:
        - apikeyAuth: []
          appIdAuth: []
      description: /services/@app_id/account/@account_id
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
          example: d5b86083-08c5-4de2-ac19-7610a16c297d
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: 179
            ETag:
              schema:
                type: string
                example: W/"b3-poBOGU65YY7wo1Qj/QX2tYuAuhM"
            Date:
              schema:
                type: string
                example: Fri, 28 Aug 2020 15:45:37 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      name: Authorization
      in: header
    appIdAuth:
      type: apiKey
      name: AppId
      in: header
  schemas:
    VerifySelfieBvnRequest:
      type: object
      example:
        bvn: '22468537919'
        selfie_image: <base64 encoded image>
      properties:
        bvn:
          type: string
          example: '22468537919'
        selfie_image:
          type: string
          example: <base64 encoded image>
    VerifySelfieNinRequest:
      type: object
      example:
        nin: '79628483753'
        selfie_image: <base64 encoded image>
      properties:
        nin:
          type: string
          example: '79628483753'
        selfie_image:
          type: string
[...]
