openapi: 3.0.0
info:
  description: "Use Dojah to verify, onboard and manage user identity across Africa!"
  title: DOJAH Publilc APIs
  version: 1.0.0
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
- url: https://api.dojah.io
- url: https://sandbox.dojah.io
tags:
- name: Nigeria KYC
- name: KYC
- name: Authentication
- name: Verifications
- name: KYB
- name: GH KYC
- name: Fraud
- name: WebHooks
- name: Global KYC
- name: General
- name: KE KYC
- name: ZW KYC
- name: AML
- name: Services
- name: UG KYC
- name: TZ KYC
- name: ZAF KYC
- name: Document Analysis
- name: ML
- name: Purchase
paths:
  /api/v1/kyc/cac:
    get:
      operationId: Kyb_getCac
      parameters:
      - example: 1432074
        explode: true
        in: query
        name: rc_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1432074
      - example: ELTA SOLUTIONS LIMITED
        explode: true
        in: query
        name: company_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: ELTA SOLUTIONS LIMITED
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybGetCacResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-cac-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-cac-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 263
                type: integer
                x-konfig-original-example: 263
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-cac-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"107-41SJwH2M/TDtOClRlqxed6NP2lI"
                type: string
                x-konfig-original-example: W/"107-41SJwH2M/TDtOClRlqxed6NP2lI"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-cac-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Tue, 06 Oct 2020 16:08:17 GMT"
                type: string
                x-konfig-original-example: "Tue, 06 Oct 2020 16:08:17 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-cac-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-cac-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: 'KYC - Get CAC '
      tags:
      - KYB
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-cac
  /api/v1/kyc/tin:
    get:
      operationId: Kyb_getTin
      parameters:
      - example: 24111697-0001
        explode: true
        in: query
        name: tin
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 24111697-0001
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybGetTinResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-tin-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-tin-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 244
                type: integer
                x-konfig-original-example: 244
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-tin-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"f4-33tq3v78T6aKG4EjlF+RD4NJEG4"
                type: string
                x-konfig-original-example: W/"f4-33tq3v78T6aKG4EjlF+RD4NJEG4"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-tin-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Fri, 02 Oct 2020 12:31:55 GMT"
                type: string
                x-konfig-original-example: "Fri, 02 Oct 2020 12:31:55 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-tin-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-tin-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Fetch Tin
      tags:
      - KYB
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-tin
  /api/v1/kyb/business/search:
    get:
      operationId: Kyb_businessSearch
      parameters:
      - example: NG
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: NG
      - example: 1885308
        explode: true
        in: query
        name: company
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1885308
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybBusinessSearchResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Business Search
      tags:
      - KYB
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyb-business-search
  /api/v1/kyb/business/detail:
    get:
      operationId: Kyb_businessDetail
      parameters:
      - example: RC-1885308
        explode: true
        in: query
        name: international_number
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: RC-1885308
      - example: NG
        explode: true
        in: query
        name: country_code
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: NG
      - example: "true"
        explode: true
        in: query
        name: full
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: "true"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KybBusinessDetailResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Business Detail
      tags:
      - KYB
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyb-business-detail
  /api/v1/gh/kyc/dl:
    get:
      operationId: GhKyc_getDriversLicense
      parameters:
      - example: V0000000
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: V0000000
      - example: John Doe
        explode: true
        in: query
        name: full_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: John Doe
      - example: 1988-09-01
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1988-09-01
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDriversLicenseResponse'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: f83d945e-a520-4f69-a6c8-57c093d3a956
                type: string
                x-konfig-original-example: f83d945e-a520-4f69-a6c8-57c093d3a956
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_ghana_drivers_license
                type: string
                x-konfig-original-example: kyc_ghana_drivers_license
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-product-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"8d93a-oziFRNZhAWQN2hwX/rJJPiwF/Gg"
                type: string
                x-konfig-original-example: W/"8d93a-oziFRNZhAWQN2hwX/rJJPiwF/Gg"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-ETag-schema
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Vary-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
                x-konfig-original-example: gzip
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Content-Encoding-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 16 Dec 2021 23:41:00 GMT"
                type: string
                x-konfig-original-example: "Thu, 16 Dec 2021 23:41:00 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Connection-schema
              style: simple
            Keep-Alive:
              explode: false
              schema:
                example: timeout=5
                type: string
                x-konfig-original-example: timeout=5
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Keep-Alive-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Driver's License
      tags:
      - GH KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-gh-kyc-dl
  /api/v1/gh/kyc/passport:
    get:
      operationId: GhKyc_getPassport
      parameters:
      - example: G111235468
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: G111235468
      - example: John
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: John
      - example: Doe
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Doe
      - example: Jack
        explode: true
        in: query
        name: middle_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Jack
      - example: 1990-04-05
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1990-04-05
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPassportResponse'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: ba33059b-043c-4cf8-b60a-f95fd231423d
                type: string
                x-konfig-original-example: ba33059b-043c-4cf8-b60a-f95fd231423d
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_ghana_passport
                type: string
                x-konfig-original-example: kyc_ghana_passport
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-product-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"8d984-e3YZTs56aQzqh6gOQicMov2GSZE"
                type: string
                x-konfig-original-example: W/"8d984-e3YZTs56aQzqh6gOQicMov2GSZE"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-ETag-schema
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Vary-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
                x-konfig-original-example: gzip
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Content-Encoding-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 16 Dec 2021 23:53:15 GMT"
                type: string
                x-konfig-original-example: "Thu, 16 Dec 2021 23:53:15 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Connection-schema
              style: simple
            Keep-Alive:
              explode: false
              schema:
                example: timeout=5
                type: string
                x-konfig-original-example: timeout=5
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Keep-Alive-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Passport
      tags:
      - GH KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-gh-kyc-passport
  /api/v1/gh/kyc/ssnit:
    get:
      operationId: GhKyc_getSsnit
      parameters:
      - example: G0000000
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: G0000000
      - example: John Doe
        explode: true
        in: query
        name: full_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: John Doe
      - example: 1990-04-05
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1990-04-05
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSsnitResponse'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-ssnit-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: 16e7dad6-14a5-4634-8b14-00bf73708648
                type: string
                x-konfig-original-example: 16e7dad6-14a5-4634-8b14-00bf73708648
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-ssnit-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_ghana_ssnit
                type: string
                x-konfig-original-example: kyc_ghana_ssnit
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-ssnit-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-ssnit-get-responses-200-headers-product-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"8d8e6-S1WQQ6j7bL7kFdlo3G00l8393tY"
                type: string
                x-konfig-original-example: W/"8d8e6-S1WQQ6j7bL7kFdlo3G00l8393tY"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-ssnit-get-responses-200-headers-ETag-schema
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-ssnit-get-responses-200-headers-Vary-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
                x-konfig-original-example: gzip
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-ssnit-get-responses-200-headers-Content-Encoding-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Fri, 17 Dec 2021 00:32:01 GMT"
                type: string
                x-konfig-original-example: "Fri, 17 Dec 2021 00:32:01 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-ssnit-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-ssnit-get-responses-200-headers-Connection-schema
              style: simple
            Keep-Alive:
              explode: false
              schema:
                example: timeout=5
                type: string
                x-konfig-original-example: timeout=5
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-ssnit-get-responses-200-headers-Keep-Alive-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-ssnit-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: SSNIT
      tags:
      - GH KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-gh-kyc-ssnit
  /api/v1/gh/kyc/voter:
    get:
      operationId: GhKyc_getVoter
      parameters:
      - example: 6423007613
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 6423007613
      - example: John Doe
        explode: true
        in: query
        name: full_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: John Doe
      - example: "true"
        explode: true
        in: query
        name: is_new_id
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: "true"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GhKycGetVoterResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Voter ID Lookup
      tags:
      - GH KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-gh-kyc-voter
  /api/v1/ug/kyc/voter:
    get:
      operationId: UgKyc_getVoter
      parameters:
      - example: 67335751
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 67335751
      - example: Happy
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Happy
      - example: Christmas
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Christmas
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoterResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Voters ID
      tags:
      - UG KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-ug-kyc-voter
  /api/v1/ke/kyc/id:
    get:
      operationId: KeKyc_getNationalId
      parameters:
      - example: 24798402
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 24798402
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNationalIdResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - National ID
      tags:
      - KE KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-ke-kyc-id
  /api/v1/ke/kyc/passport:
    get:
      operationId: KeKyc_getPassport
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeKycGetPassportResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Passport
      tags:
      - KE KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-ke-kyc-passport
  /api/v1/tz/kyc/nin:
    get:
      operationId: TzKyc_getNin
      parameters:
      - example: khafsa
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: khafsa
      - example: mohammed
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: mohammed
      - example: 1994-01-11
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1994-01-11
      - example: zulekha
        explode: true
        in: query
        name: mothers_last_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: zulekha
      - example: kassim
        explode: true
        in: query
        name: mothers_first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: kassim
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TzKycGetNinResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Lookup TZ NIN
      tags:
      - TZ KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-tz-kyc-nin
  /api/v1/zw/kyc/nin:
    get:
      operationId: ZwKyc_verifyId
      parameters:
      - example: 45190221E45
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 45190221E45
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZwKycVerifyIdResponse'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            uuid:
              explode: false
              schema:
                example: 53331139-31e5-4e77-87c5-606b29ddff6a
                type: string
                x-konfig-original-example: 53331139-31e5-4e77-87c5-606b29ddff6a
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-uuid-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: 1858b304-e20f-45a0-9fc3-b785b24295c9
                type: string
                x-konfig-original-example: 1858b304-e20f-45a0-9fc3-b785b24295c9
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            RateLimit-Limit:
              explode: false
              schema:
                example: 500
                type: integer
                x-konfig-original-example: 500
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-RateLimit-Limit-schema
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                example: 499
                type: integer
                x-konfig-original-example: 499
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-RateLimit-Remaining-schema
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                example: 45
                type: integer
                x-konfig-original-example: 45
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-RateLimit-Reset-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_zw_national_id
                type: string
                x-konfig-original-example: kyc_zw_national_id
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-product-schema
              style: simple
            price:
              explode: false
              schema:
                example: 200
                type: integer
                x-konfig-original-example: 200
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-price-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 189
                type: integer
                x-konfig-original-example: 189
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"bd-YdK/ZySWfFi+VH1DiA+IJ89Mx7c"
                type: string
                x-konfig-original-example: W/"bd-YdK/ZySWfFi+VH1DiA+IJ89Mx7c"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-ETag-schema
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-Vary-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Sun, 12 Mar 2023 21:08:01 GMT"
                type: string
                x-konfig-original-example: "Sun, 12 Mar 2023 21:08:01 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-Connection-schema
              style: simple
            Keep-Alive:
              explode: false
              schema:
                example: timeout=5
                type: string
                x-konfig-original-example: timeout=5
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-nin-get-responses-200-headers-Keep-Alive-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: National ID Verification
      tags:
      - ZW KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-zw-kyc-nin
  /api/v1/zw/kyc/fcb:
    get:
      operationId: ZwKyc_checkCredit
      parameters:
      - example: 45190221E45
        explode: true
        in: query
        name: id_number
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 45190221E45
      - example: CHIMUNDEGE
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: CHIMUNDEGE
      - example: CHIMUNDEGE
        explode: true
        in: query
        name: surname
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: CHIMUNDEGE
      - example: F
        explode: true
        in: query
        name: gender
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: F
      - example: 1994-04-03
        explode: true
        in: query
        name: dob
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1994-04-03
      - example: M
        explode: true
        in: query
        name: marital_status
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: M
      - example: 26424257383
        explode: true
        in: query
        name: mobile_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 26424257383
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZwKycCheckCreditResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Wed, 15 Mar 2023 09:33:08 GMT"
                type: string
                x-konfig-original-example: "Wed, 15 Mar 2023 09:33:08 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-Date-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-Connection-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            uuid:
              explode: false
              schema:
                example: 329e0300-b84c-4a5d-aeb1-0ef766dfd195
                type: string
                x-konfig-original-example: 329e0300-b84c-4a5d-aeb1-0ef766dfd195
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-uuid-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: ba6b943d-14ca-440c-9efe-9c9e78e31602
                type: string
                x-konfig-original-example: ba6b943d-14ca-440c-9efe-9c9e78e31602
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            RateLimit-Limit:
              explode: false
              schema:
                example: 500
                type: integer
                x-konfig-original-example: 500
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-RateLimit-Limit-schema
              style: simple
            RateLimit-Remaining:
              explode: false
              schema:
                example: 499
                type: integer
                x-konfig-original-example: 499
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-RateLimit-Remaining-schema
              style: simple
            RateLimit-Reset:
              explode: false
              schema:
                example: 49
                type: integer
                x-konfig-original-example: 49
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-RateLimit-Reset-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_zw_fcb
                type: string
                x-konfig-original-example: kyc_zw_fcb
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-product-schema
              style: simple
            price:
              explode: false
              schema:
                example: 200
                type: integer
                x-konfig-original-example: 200
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-price-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"7d-LvV7oPWAN3IRNo0v4j4xZ5tdTMQ"
                type: string
                x-konfig-original-example: W/"7d-LvV7oPWAN3IRNo0v4j4xZ5tdTMQ"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-ETag-schema
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-Vary-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
                x-konfig-original-example: gzip
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-Content-Encoding-schema
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
                x-konfig-original-example: DYNAMIC
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-CF-Cache-Status-schema
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=yfiOjIjaZJEpK4C%2FaDVud6GW6a7j0e37oQTJZ6%2BY%2FCpIvAypI9CDzORsXMitz%2FdQsvTEU%2BJYk5isu%2F9xvnJAHgLHL23PTJ9ulLnxlj2XqIYqy9dyKDiM1%2BwpKfxKUPhUzLnCjMcffTMF\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
                x-konfig-original-example: "{\"endpoints\":[{\"url\":\"https:\\/\\\
                  /a.nel.cloudflare.com\\/report\\/v3?s=yfiOjIjaZJEpK4C%2FaDVud6GW6a7j0e37oQTJZ6%2BY%2FCpIvAypI9CDzORsXMitz%2FdQsvTEU%2BJYk5isu%2F9xvnJAHgLHL23PTJ9ulLnxlj2XqIYqy9dyKDiM1%2BwpKfxKUPhUzLnCjMcffTMF\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-Report-To-schema
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
                x-konfig-original-example: "{\"success_fraction\":0,\"report_to\"\
                  :\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-NEL-schema
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=0; includeSubDomains
                type: string
                x-konfig-original-example: max-age=0; includeSubDomains
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-Strict-Transport-Security-schema
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
                x-konfig-original-example: nosniff
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-X-Content-Type-Options-schema
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
                x-konfig-original-example: cloudflare
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-Server-schema
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 7a83c0c82c9a1c77-AMS
                type: string
                x-konfig-original-example: 7a83c0c82c9a1c77-AMS
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-CF-RAY-schema
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                type: string
                x-konfig-original-example: "h3=\":443\"; ma=86400, h3-29=\":443\"\
                  ; ma=86400"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-zw-kyc-fcb-get-responses-200-headers-alt-svc-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Credit Check
      tags:
      - ZW KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-zw-kyc-fcb
  /api/v1/uk/kyc:
    get:
      operationId: GlobalKyc_ukTwoPlusTwo
      parameters:
      - example: GBR
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: GBR
      - example: Tobi
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Tobi
      - example: Ololade
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Ololade
      - example: Street 1
        explode: true
        in: query
        name: street_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Street 1
      - example: 1992-05-18
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1992-05-18
      - example: 25
        explode: true
        in: query
        name: house_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 25
      - example: 1234
        explode: true
        in: query
        name: post_code
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1234
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalKycUkTwoPlusTwoResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: UK 2+2
      tags:
      - Global KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-uk-kyc
  /api/v1/us/kyc:
    get:
      operationId: GlobalKyc_getUsSsn
      parameters:
      - example: GBR
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: GBR
      - example: Tobi
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Tobi
      - example: Ololade
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Ololade
      - example: Street 1
        explode: true
        in: query
        name: street_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Street 1
      - example: 1992-05-18
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1992-05-18
      - example: 25
        explode: true
        in: query
        name: house_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 25
      - example: 1234
        explode: true
        in: query
        name: post_code
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1234
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalKycGetUsSsnResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: US SSN
      tags:
      - Global KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-us-kyc
  /api/v1/ca/kyc:
    get:
      operationId: GlobalKyc_caEkyc
      parameters:
      - example: GBR
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: GBR
      - example: Tobi
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Tobi
      - example: Ololade
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Ololade
      - example: Street 1
        explode: true
        in: query
        name: street_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Street 1
      - example: 1992-05-18
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1992-05-18
      - example: 25
        explode: true
        in: query
        name: house_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 25
      - example: 1234
        explode: true
        in: query
        name: post_code
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1234
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalKycCaEkycResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Canada Ekyc
      tags:
      - Global KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-ca-kyc
  /api/v1/za/kyc/id:
    get:
      operationId: ZafKyc_getId
      parameters:
      - example: 9910180077084
        explode: true
        in: query
        name: id_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 9910180077084
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZafKycGetIdResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Sat, 03 Jun 2023 12:03:58 GMT"
                type: string
                x-konfig-original-example: "Sat, 03 Jun 2023 12:03:58 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-Date-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-Connection-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            uuid:
              explode: false
              schema:
                example: 28370e13-106c-43d0-82c9-ba624575cfe6
                type: string
                x-konfig-original-example: 28370e13-106c-43d0-82c9-ba624575cfe6
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-uuid-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: a9588717-3b09-495b-ad15-da6c9bf79113
                type: string
                x-konfig-original-example: a9588717-3b09-495b-ad15-da6c9bf79113
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_south_african_national_id
                type: string
                x-konfig-original-example: kyc_south_african_national_id
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-product-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"8d9be-ZMgq5ny8bzh9D5ndCXQAtVA1hV8"
                type: string
                x-konfig-original-example: W/"8d9be-ZMgq5ny8bzh9D5ndCXQAtVA1hV8"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-ETag-schema
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-Vary-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
                x-konfig-original-example: gzip
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-Content-Encoding-schema
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
                x-konfig-original-example: DYNAMIC
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-CF-Cache-Status-schema
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=JlTJ44NXRVL%2BMrN0BybfwWX7zzYRV2XZK0Iv1RlVmYMUySVop4gK%2FmEcnclI7nTKVizWYZfA5aXcREzIr48deGWweeZbFS3uj20Vfk5iynTj79HuQM%2FQVSoeeMYLP2Hk2Kh9n5RJ6LpUt%2BnOA2epzw%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
                x-konfig-original-example: "{\"endpoints\":[{\"url\":\"https:\\/\\\
                  /a.nel.cloudflare.com\\/report\\/v3?s=JlTJ44NXRVL%2BMrN0BybfwWX7zzYRV2XZK0Iv1RlVmYMUySVop4gK%2FmEcnclI7nTKVizWYZfA5aXcREzIr48deGWweeZbFS3uj20Vfk5iynTj79HuQM%2FQVSoeeMYLP2Hk2Kh9n5RJ6LpUt%2BnOA2epzw%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-Report-To-schema
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
                x-konfig-original-example: "{\"success_fraction\":0,\"report_to\"\
                  :\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-NEL-schema
              style: simple
            Strict-Transport-Security:
              explode: false
              schema:
                example: max-age=0; includeSubDomains
                type: string
                x-konfig-original-example: max-age=0; includeSubDomains
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-Strict-Transport-Security-schema
              style: simple
            X-Content-Type-Options:
              explode: false
              schema:
                example: nosniff
                type: string
                x-konfig-original-example: nosniff
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-X-Content-Type-Options-schema
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
                x-konfig-original-example: cloudflare
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-Server-schema
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 7d17cbbf1c210c59-AMS
                type: string
                x-konfig-original-example: 7d17cbbf1c210c59-AMS
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-CF-RAY-schema
              style: simple
            alt-svc:
              explode: false
              schema:
                example: h3=":443"; ma=86400
                type: string
                x-konfig-original-example: h3=":443"; ma=86400
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-za-kyc-id-get-responses-200-headers-alt-svc-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Lookup ID
      tags:
      - ZAF KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-za-kyc-id
  /api/v1/kyc/nuban:
    get:
      operationId: NigeriaKyc_getNuban
      parameters:
      - example: 58
        explode: true
        in: query
        name: bank_code
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 58
      - example: 11223344
        explode: true
        in: query
        name: account_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 11223344
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNubanResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 547
                type: integer
                x-konfig-original-example: 547
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"223-awqCLWeHqrkGXYT0u4ObwmhtaeM"
                type: string
                x-konfig-original-example: W/"223-awqCLWeHqrkGXYT0u4ObwmhtaeM"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Tue, 06 Oct 2020 14:54:49 GMT"
                type: string
                x-konfig-original-example: "Tue, 06 Oct 2020 14:54:49 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get NUBAN Information
      tags:
      - Nigeria KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-nuban
  /api/v1/kyc/bvn:
    get:
      operationId: NigeriaKyc_getBasicBvn
      parameters:
      - example: 22468537919
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 22468537919
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateBvnResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 146
                type: integer
                x-konfig-original-example: 146
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"92-HXYh/gt/HeAA5ZSLoU95221EpmM"
                type: string
                x-konfig-original-example: W/"92-HXYh/gt/HeAA5ZSLoU95221EpmM"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 05 Oct 2020 12:10:35 GMT"
                type: string
                x-konfig-original-example: "Mon, 05 Oct 2020 12:10:35 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get Basic BVN Info
      tags:
      - Nigeria KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-bvn
  /api/v1/kyc/bvn/basic:
    get:
      operationId: NigeriaKyc_getBasicBvn1
      parameters:
      - example: 22621998885
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 22621998885
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBasicBvnResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Lookup BVN Basic 1
      tags:
      - Nigeria KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-bvn-basic
  /api/v1/kyc/bvn/full:
    get:
      operationId: NigeriaKyc_getNormalBvn
      parameters:
      - example: 22342291445
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 22342291445
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFullBvnResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-full-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-full-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 20876
                type: integer
                x-konfig-original-example: 20876
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-full-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"518c-aDw/4yavVfsEiK5z6/6PGdKi94U"
                type: string
                x-konfig-original-example: W/"518c-aDw/4yavVfsEiK5z6/6PGdKi94U"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-full-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 05 Oct 2020 12:21:04 GMT"
                type: string
                x-konfig-original-example: "Mon, 05 Oct 2020 12:21:04 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-full-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-full-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Lookup BVN Normal
      tags:
      - Nigeria KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-bvn-full
  /api/v1/kyc/nin:
    get:
      operationId: NigeriaKyc_getNin
      parameters:
      - example: 55648152772
        explode: true
        in: query
        name: nin
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 55648152772
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NigeriaKycGetNinResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nin-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nin-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 30651
                type: integer
                x-konfig-original-example: 30651
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nin-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"77bb-j0r483ZSx8sZDYZ5W/jorf6AU+U"
                type: string
                x-konfig-original-example: W/"77bb-j0r483ZSx8sZDYZ5W/jorf6AU+U"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nin-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 05 Oct 2020 17:07:26 GMT"
                type: string
                x-konfig-original-example: "Mon, 05 Oct 2020 17:07:26 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nin-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nin-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get NIN Info
      tags:
      - Nigeria KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-nin
  /api/v1/kyc/vnin:
    get:
      operationId: NigeriaKyc_getVnin
      parameters:
      - example: LC829995256998RD
        explode: true
        in: query
        name: vnin
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: LC829995256998RD
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVninResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Lookup VNIN
      tags:
      - Nigeria KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-vnin
  /api/v1/kyc/bvn/advance:
    get:
      operationId: NigeriaKyc_getPremiumBvn
      parameters:
      - example: 22200508254
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 22200508254
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPremiumBvnResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Thu, 28 Oct 2021 23:22:04 GMT"
                type: string
                x-konfig-original-example: "Thu, 28 Oct 2021 23:22:04 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Date-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Connection-schema
              style: simple
            access-control-allow-origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-access-control-allow-origin-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: 6925a539-953c-49a5-8835-ab3034c268e5
                type: string
                x-konfig-original-example: 6925a539-953c-49a5-8835-ab3034c268e5
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_bvn_advance
                type: string
                x-konfig-original-example: kyc_bvn_advance
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-product-schema
              style: simple
            etag:
              explode: false
              schema:
                example: W/"8dad6-9+aM0fugmLIDPxSAQYKB6fzpqNA"
                type: string
                x-konfig-original-example: W/"8dad6-9+aM0fugmLIDPxSAQYKB6fzpqNA"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-etag-schema
              style: simple
            vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-vary-schema
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
                x-konfig-original-example: DYNAMIC
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-CF-Cache-Status-schema
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
                x-konfig-original-example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Expect-CT-schema
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=N8Knn6%2F6B8Y0NZm6wpjxiXsENx6u%2FlMRevPNAb0IrHo6yXQDcqqsZK%2Fx1DhZ5aX7JOLAKKizfiy3KaoTYpoOTNy0Mh5uPFuevRpB5jVualn1UmavKmNdk3YSQB0cPeVOLUQJG7E0%2BebAwg%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
                x-konfig-original-example: "{\"endpoints\":[{\"url\":\"https:\\/\\\
                  /a.nel.cloudflare.com\\/report\\/v3?s=N8Knn6%2F6B8Y0NZm6wpjxiXsENx6u%2FlMRevPNAb0IrHo6yXQDcqqsZK%2Fx1DhZ5aX7JOLAKKizfiy3KaoTYpoOTNy0Mh5uPFuevRpB5jVualn1UmavKmNdk3YSQB0cPeVOLUQJG7E0%2BebAwg%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Report-To-schema
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
                x-konfig-original-example: "{\"success_fraction\":0,\"report_to\"\
                  :\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-NEL-schema
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
                x-konfig-original-example: cloudflare
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Server-schema
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 6a57e76cde23150d-MAD
                type: string
                x-konfig-original-example: 6a57e76cde23150d-MAD
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-CF-RAY-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
                x-konfig-original-example: br
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Content-Encoding-schema
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\"\
                  :443\"; ma=86400, h3-27=\":443\"; ma=86400"
                type: string
                x-konfig-original-example: "h3=\":443\"; ma=86400, h3-29=\":443\"\
                  ; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-alt-svc-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Lookup BVN Premium
      tags:
      - Nigeria KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-bvn-advance
  /api/v1/kyc/phone_number/basic:
    get:
      operationId: NigeriaKyc_getBasicPhoneNumber
      parameters:
      - example: 9131377829
        explode: true
        in: query
        name: phone_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 9131377829
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NigeriaKycGetBasicPhoneNumberResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC Lookup Phone Number Basic
      tags:
      - Nigeria KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-phone_number-basic
  /api/v1/kyc/phone_number:
    get:
      operationId: NigeriaKyc_getPhoneNumber
      parameters:
      - example: 8034628633
        explode: true
        in: query
        name: phone_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 8034628633
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPhoneNumberResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Thu, 28 Oct 2021 23:24:57 GMT"
                type: string
                x-konfig-original-example: "Thu, 28 Oct 2021 23:24:57 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-Date-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-Connection-schema
              style: simple
            access-control-allow-origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-access-control-allow-origin-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: 790366d5-3aa3-470a-8655-bf9d53f5c017
                type: string
                x-konfig-original-example: 790366d5-3aa3-470a-8655-bf9d53f5c017
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_mobile
                type: string
                x-konfig-original-example: kyc_mobile
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-product-schema
              style: simple
            etag:
              explode: false
              schema:
                example: W/"8dabb-fMxlOiMMbMpYbnYWs+w3QKDJNCs"
                type: string
                x-konfig-original-example: W/"8dabb-fMxlOiMMbMpYbnYWs+w3QKDJNCs"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-etag-schema
              style: simple
            vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-vary-schema
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
                x-konfig-original-example: DYNAMIC
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-CF-Cache-Status-schema
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
                x-konfig-original-example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-Expect-CT-schema
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=VMnMXBwlgI86G9vVk9%2FwfyjKtMX%2FuT8X8VuiG%2Fy7v8tq5Bwp%2BUFb6liD50ApRh5HxTvcwGBPGyROog64%2F04fcxqVapQzawgJoNKjysgDSZSW0jTQhUEcGsLfGypZ7oiP67PZrWRwUGd7zQ%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
                x-konfig-original-example: "{\"endpoints\":[{\"url\":\"https:\\/\\\
                  /a.nel.cloudflare.com\\/report\\/v3?s=VMnMXBwlgI86G9vVk9%2FwfyjKtMX%2FuT8X8VuiG%2Fy7v8tq5Bwp%2BUFb6liD50ApRh5HxTvcwGBPGyROog64%2F04fcxqVapQzawgJoNKjysgDSZSW0jTQhUEcGsLfGypZ7oiP67PZrWRwUGd7zQ%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-Report-To-schema
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
                x-konfig-original-example: "{\"success_fraction\":0,\"report_to\"\
                  :\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-NEL-schema
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
                x-konfig-original-example: cloudflare
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-Server-schema
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 6a57eba75dea150d-MAD
                type: string
                x-konfig-original-example: 6a57eba75dea150d-MAD
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-CF-RAY-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
                x-konfig-original-example: br
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-Content-Encoding-schema
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\"\
                  :443\"; ma=86400, h3-27=\":443\"; ma=86400"
                type: string
                x-konfig-original-example: "h3=\":443\"; ma=86400, h3-29=\":443\"\
                  ; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-200-headers-alt-svc-schema
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPhoneNumber404Response'
          description: Not Found
          headers:
            Date:
              explode: false
              schema:
                example: "Thu, 28 Oct 2021 23:33:34 GMT"
                type: string
                x-konfig-original-example: "Thu, 28 Oct 2021 23:33:34 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-404-headers-Date-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-404-headers-Transfer-Encoding-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-404-headers-Connection-schema
              style: simple
            access-control-allow-origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-404-headers-access-control-allow-origin-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: 13441a56-ff5f-4b73-8e82-9159cf103d8f
                type: string
                x-konfig-original-example: 13441a56-ff5f-4b73-8e82-9159cf103d8f
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-404-headers-x-moesif-transaction-id-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_mobile
                type: string
                x-konfig-original-example: kyc_mobile
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-404-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-404-headers-product-schema
              style: simple
            etag:
              explode: false
              schema:
                example: W/"1c-VDs+0HMREKuR6jGdo+IksWbHwcg"
                type: string
                x-konfig-original-example: W/"1c-VDs+0HMREKuR6jGdo+IksWbHwcg"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-404-headers-etag-schema
              style: simple
            vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-404-headers-vary-schema
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
                x-konfig-original-example: DYNAMIC
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-404-headers-CF-Cache-Status-schema
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
                x-konfig-original-example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-phone_number-get-responses-404-headers-Expect-CT-schema
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
[...]
