openapi: 3.0.0
info:
  description: "Use Dojah to verify, onboard and manage user identity across Africa!"
  title: DOJAH APIs
  version: 1.0.0
  x-konfig-ignore:
    no-additional-properties: true
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
- url: https://api.dojah.io
- url: https://sandbox.dojah.io
tags:
- name: Services
- name: KYC
- name: GH KYC
- name: UG KYC
- name: KE KYC
- name: KYB
- name: Authentication
- name: Wallet
- name: Financial
- name: ML
- name: AML
- name: WebHooks
- name: General
paths:
  /api/v1/gh/kyc/dl:
    get:
      operationId: GHKYC_getDriversLicense
      parameters:
      - example: V0000000
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - example: John Doe
        explode: true
        in: query
        name: full_name
        required: false
        schema:
          type: string
        style: form
      - example: 1988-09-01
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDriversLicenseResponse'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: f83d945e-a520-4f69-a6c8-57c093d3a956
                type: string
              style: simple
            service:
              explode: false
              schema:
                example: kyc_ghana_drivers_license
                type: string
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"8d93a-oziFRNZhAWQN2hwX/rJJPiwF/Gg"
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 16 Dec 2021 23:41:00 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Keep-Alive:
              explode: false
              schema:
                example: timeout=5
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Driver's License
      tags:
      - GH KYC
      x-accepts: application/json
  /api/v1/gh/kyc/passport:
    get:
      operationId: GHKYC_getPassport
      parameters:
      - example: G0000000
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - example: John
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
      - example: Doe
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
      - example: Jack
        explode: true
        in: query
        name: middle_name
        required: false
        schema:
          type: string
        style: form
      - example: 1990-04-05
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPassportResponse'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: ba33059b-043c-4cf8-b60a-f95fd231423d
                type: string
              style: simple
            service:
              explode: false
              schema:
                example: kyc_ghana_passport
                type: string
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"8d984-e3YZTs56aQzqh6gOQicMov2GSZE"
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 16 Dec 2021 23:53:15 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Keep-Alive:
              explode: false
              schema:
                example: timeout=5
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Passport
      tags:
      - GH KYC
      x-accepts: application/json
  /api/v1/gh/kyc/ssnit:
    get:
      operationId: GHKYC_getSsnit
      parameters:
      - example: G0000000
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - example: John Doe
        explode: true
        in: query
        name: full_name
        required: false
        schema:
          type: string
        style: form
      - example: 1990-04-05
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSsnitResponse'
          description: OK
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: SSNIT
      tags:
      - GH KYC
      x-accepts: application/json
  /api/v1/ug/kyc/voter:
    get:
      operationId: UGKYC_getVoter
      parameters:
      - example: 67335751
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - example: Happy
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
      - example: Christmas
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoterResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Voters ID
      tags:
      - UG KYC
      x-accepts: application/json
  /api/v1/ke/kyc/id:
    get:
      operationId: KEKYC_getNationalId
      parameters:
      - example: 24798402
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
      - example: ZEDEKIAH
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
      - example: ANDENGA
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: middle_name
        required: false
        schema:
          type: string
        style: form
      - example: 1985-12-29
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
      - example: M
        explode: true
        in: query
        name: gender
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNationalIdResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - National ID
      tags:
      - KE KYC
      x-accepts: application/json
  /api/v1/kyc/dl:
    get:
      operationId: KYC_getDriversLicense
      parameters:
      - example: FKJ49409AB13
        explode: true
        in: query
        name: license_number
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKycDriversLicenseResponse'
          description: OK
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get Drivers License Info
      tags:
      - KYC
      x-accepts: application/json
  /api/v1/kyc/nuban:
    get:
      operationId: KYC_getNuban
      parameters:
      - example: 58
        explode: true
        in: query
        name: bank_code
        required: false
        schema:
          type: integer
        style: form
      - example: 11223344
        explode: true
        in: query
        name: account_number
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNubanResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 547
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"223-awqCLWeHqrkGXYT0u4ObwmhtaeM"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Tue, 06 Oct 2020 14:54:49 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get NUBAN Information
      tags:
      - KYC
      x-accepts: application/json
  /api/v1/kyc/bvn:
    get:
      operationId: KYC_validateBvn
      parameters:
      - example: 22250148240
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
      - example: FRANCIS
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
      - example: 1982-02-19
        explode: true
        in: query
        name: dob
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateBvnResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Validate BVN
      tags:
      - KYC
      x-accepts: application/json
  /api/v1/kyc/bvn/basic:
    get:
      operationId: KYC_getBasicBvn
      parameters:
      - example: 22468537919
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBasicBvnResponse'
          description: OK
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get Basic BVN Info
      tags:
      - KYC
      x-accepts: application/json
  /api/v1/kyc/bvn/full:
    get:
      operationId: KYC_getFullBvn
      parameters:
      - example: 22222222222
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFullBvnResponse'
          description: OK
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Lookup BVN Basic
      tags:
      - KYC
      x-accepts: application/json
  /api/v1/kyc/bvn/advance:
    get:
      operationId: KYC_getPremiumBvn
      parameters:
      - example: 22305638508
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPremiumBvnResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Thu, 28 Oct 2021 23:22:04 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            access-control-allow-origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: 6925a539-953c-49a5-8835-ab3034c268e5
                type: string
              style: simple
            service:
              explode: false
              schema:
                example: kyc_bvn_advance
                type: string
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
              style: simple
            etag:
              explode: false
              schema:
                example: W/"8dad6-9+aM0fugmLIDPxSAQYKB6fzpqNA"
                type: string
              style: simple
            vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=N8Knn6%2F6B8Y0NZm6wpjxiXsENx6u%2FlMRevPNAb0IrHo6yXQDcqqsZK%2Fx1DhZ5aX7JOLAKKizfiy3KaoTYpoOTNy0Mh5uPFuevRpB5jVualn1UmavKmNdk3YSQB0cPeVOLUQJG7E0%2BebAwg%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 6a57e76cde23150d-MAD
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\"\
                  :443\"; ma=86400, h3-27=\":443\"; ma=86400"
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Lookup BVN Premium
      tags:
      - KYC
      x-accepts: application/json
  /api/v1/kyc/vnin:
    get:
      operationId: KYC_getVnin
      parameters:
      - example: AB012345678910YZ
        explode: true
        in: query
        name: vnin
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVninResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Lookup VNIN
      tags:
      - KYC
      x-accepts: application/json
  /v1/kyc/phone_number/basic:
    get:
      operationId: KYC_getBasicPhoneNumber
      parameters:
      - example: 8068810228
        explode: true
        in: query
        name: phone_number
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBasicPhoneNumberResponse'
          description: OK
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC Lookup Phone Number Basic
      tags:
      - KYC
      x-accepts: application/json
  /api/v1/kyc/phone_number:
    get:
      operationId: KYC_getPhoneNumber
      parameters:
      - example: 8011111111
        explode: true
        in: query
        name: phone_number
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPhoneNumberResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPhoneNumber404Response'
          description: Not Found
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Lookup Phone Number
      tags:
      - KYC
      x-accepts: application/json
  /v1/kyc/age_verification:
    get:
      operationId: KYC_verifyAge
      parameters:
      - example: account_number
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - example: 3046507407
        explode: true
        in: query
        name: account_number
        required: false
        schema:
          type: integer
        style: form
      - example: 11
        explode: true
        in: query
        name: bank_code
        required: false
        schema:
          type: integer
        style: form
      - example: 1993-06-10
        explode: true
        in: query
        name: dob
        required: false
        schema:
          type: string
        style: form
      - example: Mosh
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
      - example: Saliu
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyAgeResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 104
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"68-yERzSjzlwoE0rxH3I+l3xtgO17I"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 07 Oct 2020 16:39:16 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Age Verification
      tags:
      - KYC
      x-accepts: application/json
  /v1/kyc/bvn/verify:
    post:
      operationId: KYC_verifySelfieBvn
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySelfieBvnRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySelfieBvnResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Selfie BVN Verificatoin
      tags:
      - KYC
      x-content-type: application/json
      x-accepts: application/json
  /v1/kyc/nin/verify:
    post:
      operationId: KYC_verifySelfieNin
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySelfieNinRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySelfieNinResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Selfie NIN Verification
      tags:
      - KYC
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/kyc/vin:
    get:
      operationId: KYC_getVIN
      parameters:
      - example: vin
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
      - example: moshood
        explode: true
        in: query
        name: firstname
        required: false
        schema:
          type: string
        style: form
      - example: saliu
        explode: true
        in: query
        name: lastname
        required: false
        schema:
          type: string
        style: form
      - example: 55586
        explode: true
        in: query
        name: vin
        required: false
        schema:
          type: integer
        style: form
      - example: ondo
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVinResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Mon, 12 Apr 2021 13:31:13 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"174-qSAnNYHgL5xH0o9R4/PAQ2cDzrE"
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            cf-request-id:
              explode: false
              schema:
                example: 0967e04d310000bf5f9c310000000001
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"max_age\":604800,\"group\":\"cf-nel\",\"endpoints\":[{\"\
                  url\":\"https:\\/\\/a.nel.cloudflare.com\\/report?s=L1%2Bm8V1sbTZHEDg%2BrFsXtRcV2iIeRuQ9Zkt%2B49L91xIYYLr4oP7HU3DZaBVLfUjM%2F03DJHObMPkO6gpfaIuY6i%2FoCS0npvp5%2FDbAQzo%3D\"\
                  }]}"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"report_to\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 63eccff518a0bf5f-AMS
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\"\
                  :443\"; ma=86400"
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get VIN
      tags:
      - KYC
      x-accepts: application/json
  /v1/kyc/email:
    get:
      operationId: KYC_getEmailReputation
      parameters:
      - example: johndoe@gmail.com
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEmailReputationResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Wed, 21 Jul 2021 23:05:12 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            CF-Ray:
              explode: false
              schema:
                example: 6728128dadddc500-LOS
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"2e9-pCb+uGuPEvkJjAiEzq42IVp9ATs"
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=XuvPXoaWVVjuT0s2pSoW3bC1PldQJXghR%2ByyYpfEKlTJMY2YZikSIKrSH8ujg7ikMaXtY4BjH1Niw1An4Jl3FKWfX1XL%2B30bj1prYkxmTYAFiMJ3iqXydDlE%2BqYyMR4%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"report_to\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\"\
                  :443\"; ma=86400, h3=\":443\"; ma=86400"
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get Email Reputation
      tags:
      - KYC
      x-accepts: application/json
  /api/v1/kyc/passport:
    get:
      operationId: KYC_getPassport
      parameters:
      - example: 70142502085
        explode: true
        in: query
        name: passport_number
        required: false
        schema:
          type: integer
        style: form
      - example: ololade
        explode: true
        in: query
        name: surname
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKycPassportResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Passport
      tags:
      - KYC
      x-accepts: application/json
  /api/v1/document/analysis:
    post:
      operationId: KYC_analyzeDocument
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeDocumentResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Document Analysis
      tags:
      - KYC
      x-accepts: application/json
  /v1/kyc/cac:
    get:
      operationId: KYB_getCac
      parameters:
      - example: 1432074
        explode: true
        in: query
        name: rc_number
        required: false
        schema:
          type: integer
        style: form
      - example: ELTA SOLUTIONS LIMITED
        explode: true
        in: query
        name: company_name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCacResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 263
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"107-41SJwH2M/TDtOClRlqxed6NP2lI"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Tue, 06 Oct 2020 16:08:17 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: 'KYC - Get CAC '
      tags:
      - KYB
      x-accepts: application/json
  /v1/kyc/cac/basic:
    get:
      operationId: KYB_getBasicCac
      parameters:
      - example: 3330883
        explode: true
        in: query
        name: rc
        required: false
        schema:
          type: integer
        style: form
      - example: bn
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBasicCacResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYB - Get CAC 2
      tags:
      - KYB
      x-accepts: application/json
  /v1/kyc/cac/advance:
    get:
      operationId: KYB_getAdvancedCac
      parameters:
      - example: 1432074
        explode: true
        in: query
        name: rc
        required: false
        schema:
          type: integer
        style: form
      - example: co
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - example: advance
        explode: true
        in: query
        name: class
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdvancedCacResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get CAC Advanced
      tags:
      - KYB
      x-accepts: application/json
  /v1/kyc/tin:
    get:
      operationId: KYB_getTin
      parameters:
      - example: 21148119-0001
        explode: true
        in: query
        name: tin
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTinResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 244
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"f4-33tq3v78T6aKG4EjlF+RD4NJEG4"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Fri, 02 Oct 2020 12:31:55 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Fetch Tin
      tags:
      - KYB
      x-accepts: application/json
  /api/v1/messaging/sms:
    post:
      operationId: Authentication_sendSms
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSmsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendSmsResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 130
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"82-hQNuuW562XiuyVWQdEM6qK2o3Yc"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 05 Oct 2020 14:01:49 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Send SMS
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts: application/json
  /v1/messaging/sms/get_status:
    get:
      operationId: Authentication_getSmsStatus
      parameters:
      - example: 54818c8a-4aed-4e5f-b846-8274fd4e0bbd
        explode: true
        in: query
        name: message_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSmsStatusResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 31
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"1f-J3nlrUdeElvtvkF2S/UaHZnypss"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 14 Oct 2020 13:11:20 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Get SMS Status
      tags:
      - Authentication
      x-accepts: application/json
  /v1/messaging/otp:
    post:
      operationId: Authentication_sendOtp
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendOtpRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendOtpResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Fri, 29 Oct 2021 00:11:30 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            access-control-allow-origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: c77bc061-4a70-42b9-88dd-c8bcb1ce64c4
                type: string
              style: simple
            etag:
              explode: false
              schema:
                example: W/"bc-oKUpfG+wOCA/ZZdrr7UCJAuXZOs"
                type: string
              style: simple
            vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=yutdxK3QJ9sWDVJWM8%2BhTq9o8reYJNw71SINNYN0anY70dzCpDQpTX1SiDzm%2FHPZaaHPovp9RttEjeQbUfzKQSyDuj%2BXSyuRD4bUNVd%2BRrV76JDo0o1EOUgXpDUL7sbncLIx27ewTrLoBQ%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 6a582fc3df637767-LHR
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\"\
                  :443\"; ma=86400, h3-27=\":443\"; ma=86400"
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Send OTP
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts: application/json
  /v1/messaging/otp/validate:
    get:
      operationId: Authentication_validateOtp
      parameters:
      - example: a89e4b64-367f-414f-a189-1800bc364b05
        explode: true
        in: query
        name: reference_id
        required: false
        schema:
          type: string
        style: form
      - example: 81974
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateOtpResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 25
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"19-GBsO/UtcMY9D47ZVGAp0psXl/eA"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 05 Oct 2020 17:31:58 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Validate OTP
      tags:
      - Authentication
      x-accepts: application/json
  /api/v1/messaging/sender_ids:
    get:
      operationId: Authentication_getSenderId
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSenderIdResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 330
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"14a-pjN0reHYtXysWCyKwGmi/Sfm4qU"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Fri, 30 Oct 2020 01:04:02 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Get Sender IDs
      tags:
      - Authentication
      x-accepts: application/json
  /api/v1/messaging/sender_id:
    post:
      operationId: Authentication_requestSenderId
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestSenderIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSenderIdResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Request Sender ID
      tags:
      - Authentication
      x-content-type: application/json
      x-accepts: application/json
  /v1/wallet/ngn/create:
    post:
      operationId: Wallet_createWallet
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                example-0:
                  summary: Create NGN Wallet
                  value:
                    entity:
                      wallet_id: 352a14e2-25ab-448a-86ed-8e9041540599
                      wallet_amount: 0
                      account_number: "1000039707"
                      phone_number: "08159090922"
                example-1:
                  summary: Create NGN Wallet Pelumi
                  value:
                    entity:
                      wallet_id: 867a8cae-8073-4914-8b04-d7fd096c1006
                      wallet_amount: 0
                      account_number: "1004204891"
                      phone_number: "09059895710"
              schema:
                $ref: '#/components/schemas/CreateWalletResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 140
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"8c-YS3fYUipsutx+W2IxHQkCO1CeU8"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 25 Jan 2021 16:49:43 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Create NGN Wallet
      tags:
      - Wallet
      x-content-type: application/json
      x-accepts: application/json
  /v1/wallet/ngn/retrieve:
    get:
      operationId: Wallet_getWallet
      parameters:
      - example: 694a047f-fb99-46d7-8c3c-d655716a834a
        explode: true
        in: query
        name: wallet_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Thu, 28 Oct 2021 22:31:45 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            access-control-allow-origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: 3079fdf5-dd11-4ac4-a8f8-37ce02eb4823
                type: string
              style: simple
            service:
              explode: false
              schema:
                example: retrieve_wallet_details
                type: string
              style: simple
            product:
              explode: false
              schema:
                example: wallet
                type: string
              style: simple
            etag:
              explode: false
              schema:
                example: W/"a6-3BuJW39Z3Xb0YgSKa9EAbvZJC1c"
                type: string
              style: simple
            vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=tQFlZ1RZ3TenWsfrZYApbkIzqoORp12TJj0%2Bc%2BCYeTCmTcIP%2FJF58UwV%2FKIXCbVT2EF8UvwrbhlLv98LmeSPpgj6cnD4dvb1Smk%2B2z6LTU8RBYpiiroHrBiVwA4n9h9chB2ZlWNzbeTQng%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 6a579db5face7768-LHR
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\"\
                  :443\"; ma=86400, h3-27=\":443\"; ma=86400"
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Retrieve Wallet Details
      tags:
      - Wallet
      x-accepts: application/json
  /v1/wallet/ngn/accounts:
    get:
      operationId: Wallet_getWallets
      parameters:
      - example: "{{app_id}}"
        explode: true
        in: query
        name: app_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletsResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Thu, 28 Oct 2021 22:08:44 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            access-control-allow-origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: 68180338-3a01-468e-8a1e-50a3d68e066c
                type: string
              style: simple
            service:
              explode: false
              schema:
                example: wallets_fetch
                type: string
              style: simple
            product:
              explode: false
              schema:
                example: wallet
                type: string
              style: simple
            etag:
              explode: false
              schema:
                example: W/"f2-9haBFyP47m0OLh++NccGhRlBA6s"
                type: string
              style: simple
            vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=5QyNmdAMKJXgqFdf8ayW4jYnJXamkXPYW3kHZxn9Sq%2BaP5PpcUZH1GogxSVWZ9BNd4I8S8UDdjtilUg48yeqrXgIZpybl1cKQL5%2FnO1WfyJf2%2FgHWOpizQa%2FrkmqHkieHrt17DBkiX0T9g%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 6a577c01bbdf76e7-LHR
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\"\
                  :443\"; ma=86400, h3-27=\":443\"; ma=86400"
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Get Wallets
      tags:
      - Wallet
      x-accepts: application/json
  /v1/wallet/ngn/transaction:
    get:
      operationId: Wallet_getTransaction
      parameters:
      - example: Dojah-c02585e5-9a8b-4230-8c1b-11fd2869f4ce
        explode: true
        in: query
        name: transaction_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-0:
                  summary: Retrieve Transaction Details Pelumi
                  value:
                    entity:
                      wallet_id: 867a8cae-8073-4914-8b04-d7fd096c1006
                      transaction_amount: 100
                      transaction_type: deposit
                      recipient_account_number: "1004204891"
                      sender_account_number: ""
                      transaction_remarks: Dojah-wallet-credit
                      transaction_reason: null
                      transaction_id: Dojah-c02585e5-9a8b-4230-8c1b-11fd2869f4ce
                      transaction_status: COMPLETED
                      date_created: 2021-07-19T11:54:01.905196Z
                example-1:
                  summary: Retrieve Transaction Details
                  value:
                    entity:
                      wallet_id: 867a8cae-8073-4914-8b04-d7fd096c1006
                      transaction_amount: 50
                      transaction_type: transfer
                      recipient_account_number: "0129531822"
                      sender_account_number: "1004204891"
                      transaction_remarks: ""
                      transaction_reason: wallet has Insufficient balance
                      transaction_id: Dojah-4b0ecd96-9914-4e78-8ce9-21ebc4a34ee8
                      transaction_status: FAILED
                      date_created: 2021-07-19T11:57:38.517618Z
              schema:
                $ref: '#/components/schemas/GetTransactionResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Mon, 19 Jul 2021 11:55:32 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            CF-Ray:
              explode: false
              schema:
                example: 6713c2e1e9e3a861-CDG
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"18a-qdUHEFuYjWVoZpNB1HSscF8M9Tg"
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=reT%2B7xCKCI389wOJbdAQYE1Cv7WHy6MlrwdLiqf1vZzmmTLtpJn0GmptEARWR93ZBSpuiJYTdCmLKifkZw1HencupuiK7dYKdN3gEq8L9zPHJn6BHkUYzrPhRoDTjN4%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"report_to\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\"\
                  :443\"; ma=86400, h3=\":443\"; ma=86400"
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Retrieve Transaction Details
      tags:
      - Wallet
      x-accepts: application/json
  /v1/wallet/ngn/transfer:
    post:
      operationId: Wallet_transferFunds
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferFundsRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                example-0:
                  summary: Transfer Funds
                  value:
                    entity:
                      wallet_id: edb6c29e-a32c-4d38-8e66-62f0e731db0d
                      transaction_amount: 10
                      transaction_type: transfer
                      recipient_account_number: "0129531822"
                      sender_account_number: "1004108810"
                      transaction_remarks: ""
                      transaction_reason: null
                      transaction_id: Dojah-6bddb625-3ca9-41c0-b0fb-13f7f11adf90
                      transaction_status: PROCESSING
                      date_created: 2021-07-19T10:44:03.610405Z
                example-1:
                  summary: Transfer Funds
                  value:
                    entity:
                      wallet_id: 867a8cae-8073-4914-8b04-d7fd096c1006
                      transaction_amount: 50
                      transaction_type: transfer
                      recipient_account_number: "0129531822"
                      sender_account_number: "1004204891"
                      transaction_remarks: ""
                      transaction_reason: null
                      transaction_id: Dojah-4b0ecd96-9914-4e78-8ce9-21ebc4a34ee8
                      transaction_status: PROCESSING
                      date_created: 2021-07-19T11:57:38.517618Z
                example-2:
                  summary: Transfer Funds
                  value:
                    entity:
                      wallet_id: 867a8cae-8073-4914-8b04-d7fd096c1006
                      transaction_amount: 100
                      transaction_type: transfer
                      recipient_account_number: "0129531822"
                      sender_account_number: "1004204891"
                      transaction_remarks: ""
                      transaction_reason: null
                      transaction_id: Dojah-404e608c-4c85-4a87-b8ed-968564cdb67f
                      transaction_status: PROCESSING
                      date_created: 2021-07-21T04:29:03.786408Z
              schema:
                $ref: '#/components/schemas/TransferFundsResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Mon, 19 Jul 2021 10:44:04 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            CF-Ray:
              explode: false
              schema:
                example: 67135a2e9e175998-IAD
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"182-h8cn7nlBpNZ0VaJcIyR5AJqLkLw"
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=p4C%2FwRO%2F7ofJ0xKbeJywokrw3LkWfF%2F4zMRKDs1Dtrm2ZTpnCV4K%2FyCmdxgzFuNFL9n3I7rqr%2B6YST4GuFVEI8LvrSHKdp6bP%2Fnrt6asPQA5ln1Chiadms0qjnaeV%2Bc%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"report_to\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\"\
                  :443\"; ma=86400, h3=\":443\"; ma=86400"
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Transfer Funds
      tags:
      - Wallet
      x-content-type: application/json
      x-accepts: application/json
  /v1/wallet/ngn/credit:
    post:
      operationId: Wallet_creditSubwallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditSubwalletRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditSubwalletResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Mon, 19 Jul 2021 11:54:02 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            CF-Ray:
              explode: false
              schema:
                example: 6713c0af98e0a861-CDG
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"18a-qdUHEFuYjWVoZpNB1HSscF8M9Tg"
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=ZOYZrccMLtm7t9y8DYeH48V2Uentj7wq%2B2SALn6vCI8zD0fVKDYC9BqekAZ%2Fs5yjb0tSJkMkyubuWTJk0L%2BehcHjJ9o8h%2BKSL6nTvZe6YC3MnXecLijKEb52W5obXEs%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"report_to\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\"\
                  :443\"; ma=86400, h3=\":443\"; ma=86400"
                type: string
              style: simple
      security:
      - apikeyAuth: []
      summary: Credit Sub-wallet
      tags:
      - Wallet
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/financial/account_transactions:
    get:
      operationId: Financial_getAccountTransactions
      parameters:
      - example: d5b86083-08c5-4de2-ac19-7610a16c297d
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      - example: 200
        explode: true
        in: query
        name: length
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountTransactionsResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 3148
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"c4c-oy+56YKJSnRpacOSt7tUEOoefrU"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Tue, 06 Oct 2020 14:55:33 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Get Account Transactions
      tags:
      - Financial
      x-accepts: application/json
  /v1/financial/account_subscription:
    get:
      operationId: Financial_getAccountSubscriptions
      parameters:
      - example: 02f63911-a958-4025-9d72-8bd2d7da274b
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountSubscriptionsResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 108
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"6c-a/jqufcJ1VX0CWOqBzUEbCc4UEA"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Tue, 06 Oct 2020 14:56:13 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Get Account Subscriptions
      tags:
      - Financial
      x-accepts: application/json
  /v1/financial/bvn_information/basic:
    get:
      operationId: Financial_getBasicBvn
      parameters:
      - example: 34c7a2a10b4d4050869fe6f0aa6f0a30
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialGetBasicBvnResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Wed, 07 Apr 2021 09:32:53 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"92-KYGBv8CDVrAOUBkr5veGc8HZOSo"
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            cf-request-id:
              explode: false
              schema:
                example: 094d468772000006e582184000000001
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"\
                  url\":\"https:\\/\\/a.nel.cloudflare.com\\/report?s=6eQEpUAJ1kexdxth2VMT1tGBMg0aHwGg5CcUCx8s5NM1%2BioB0c3G4bZbdO6b2DOmjXShH6j5eiucvmHnSa8zorrehM92zf4NwPpZs1oychk%3D\"\
                  }]}"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"report_to\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 63c240524bff06e5-LHR
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\"\
                  :443\"; ma=86400"
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Get BVN Information Basic
      tags:
      - Financial
      x-accepts: application/json
  /v1/financial/bvn_information/full:
    get:
      operationId: Financial_getFullBvn
      parameters:
      - example: 34c7a2a10b4d4050869fe6f0aa6f0a30
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialGetFullBvnResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Wed, 07 Apr 2021 09:34:06 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"8dac9-cB4sTK0o4oZ5qDkRv3sWImrmwbc"
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            cf-request-id:
              explode: false
              schema:
                example: 094d47a1be000006e5b1838000000001
                type: string
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"group\":\"cf-nel\",\"max_age\":604800,\"endpoints\":[{\"\
                  url\":\"https:\\/\\/a.nel.cloudflare.com\\/report?s=t%2FkFrIoSYsoQNk%2BfNg1Pluqc6UKyJd2IQtS%2FnwttiaUsr22LpZaongUbSMG2rOudfOyfovtLyRvc%2Bglr2Mh2HiFpGkiF2NvpQvgXGhXJFB8%3D\"\
                  }]}"
                type: string
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"report_to\":\"cf-nel\",\"max_age\":604800}"
                type: string
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 63c24215fd1a06e5-LHR
                type: string
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\"\
                  :443\"; ma=86400"
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Get BVN Information Full
      tags:
      - Financial
      x-accepts: application/json
  /v1/financial/spending_pattern:
    get:
      operationId: Financial_getSpendingPattern
      parameters:
      - example: 02f63911-a958-4025-9d72-8bd2d7da274b
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpendingPatternResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 362
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"16a-RjLBQLt4UamrdUWd7vqcKo3moqE"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Sat, 26 Sep 2020 14:33:16 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Get Spending Pattern
      tags:
      - Financial
      x-accepts: application/json
  /v1/financial/earning_structure:
    get:
      operationId: Financial_getEarningStructure
      parameters:
      - example: 02f63911-a958-4025-9d72-8bd2d7da274b
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEarningStructureResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 118
                type: integer
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"76-+Iimx69sMQWukFXI4cHDIuHZB10"
                type: string
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 05 Oct 2020 17:14:25 GMT"
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Get Earning Structure
      tags:
      - Financial
      x-accepts: application/json
  /v1/financial/transactions:
    post:
      operationId: Financial_collectTransactions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectTransactionsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectTransactionsResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Collect Transactions
      tags:
      - Financial
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/financial/transactions/pdf:
    post:
      operationId: Financial_collectStatusFromPdf
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CollectStatusFromPdfRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectStatusFromPdfResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Collect Status via PDF Statement
      tags:
      - Financial
      x-content-type: multipart/form-data
      x-accepts: application/json
  /api/v1/financial/analysis:
    get:
      operationId: Financial_getAccountAnalysis
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountAnalysisResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Sat, 10 Sep 2022 15:11:09 GMT"
                type: string
              style: simple
            Content-Type:
              explode: false
              schema:
                example: application/json; charset=utf-8
                type: string
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
              style: simple
            uuid:
              explode: false
              schema:
                example: f377e70d-943e-4444-9b60-7a91f7ee0f4a
                type: string
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: 5d27e6ba-d290-4466-892b-2f9f20a0008d
                type: string
              style: simple
            service:
              explode: false
              schema:
                example: analysis
                type: string
              style: simple
            product:
              explode: false
              schema:
                example: Financial
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"f7c-7maSkyunvReuG8ZutOm0b4UJB58"
                type: string
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
[...]
