openapi: 3.0.0
info:
  description: "Use Dojah to verify, onboard and manage user identity across Africa!"
  title: DOJAH APIs
  version: 1.0.0
  x-konfig-ignore:
    no-additional-properties: true
    potential-incorrect-type: true
    object-with-no-properties: true
servers:
- url: https://api.dojah.io
- url: https://sandbox.dojah.io
tags:
- name: KYC
- name: Financial
- name: General
- name: Authentication
- name: Wallet
- name: KYB
- name: ML
- name: WebHooks
- name: GH KYC
- name: AML
- name: Services
- name: UG KYC
- name: KE KYC
paths:
  /api/v1/gh/kyc/dl:
    get:
      operationId: GHKYC_getDriversLicense
      parameters:
      - example: V0000000
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: V0000000
      - example: John Doe
        explode: true
        in: query
        name: full_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: John Doe
      - example: 1988-09-01
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1988-09-01
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDriversLicenseResponse'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: f83d945e-a520-4f69-a6c8-57c093d3a956
                type: string
                x-konfig-original-example: f83d945e-a520-4f69-a6c8-57c093d3a956
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_ghana_drivers_license
                type: string
                x-konfig-original-example: kyc_ghana_drivers_license
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-product-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"8d93a-oziFRNZhAWQN2hwX/rJJPiwF/Gg"
                type: string
                x-konfig-original-example: W/"8d93a-oziFRNZhAWQN2hwX/rJJPiwF/Gg"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-ETag-schema
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Vary-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
                x-konfig-original-example: gzip
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Content-Encoding-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 16 Dec 2021 23:41:00 GMT"
                type: string
                x-konfig-original-example: "Thu, 16 Dec 2021 23:41:00 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Connection-schema
              style: simple
            Keep-Alive:
              explode: false
              schema:
                example: timeout=5
                type: string
                x-konfig-original-example: timeout=5
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Keep-Alive-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-dl-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Driver's License
      tags:
      - GH KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-gh-kyc-dl
      x-accepts: application/json
  /api/v1/gh/kyc/passport:
    get:
      operationId: GHKYC_getPassport
      parameters:
      - example: G0000000
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: G0000000
      - example: John
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: John
      - example: Doe
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Doe
      - example: Jack
        explode: true
        in: query
        name: middle_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Jack
      - example: 1990-04-05
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1990-04-05
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPassportResponse'
          description: OK
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: ba33059b-043c-4cf8-b60a-f95fd231423d
                type: string
                x-konfig-original-example: ba33059b-043c-4cf8-b60a-f95fd231423d
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_ghana_passport
                type: string
                x-konfig-original-example: kyc_ghana_passport
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-product-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"8d984-e3YZTs56aQzqh6gOQicMov2GSZE"
                type: string
                x-konfig-original-example: W/"8d984-e3YZTs56aQzqh6gOQicMov2GSZE"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-ETag-schema
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Vary-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: gzip
                type: string
                x-konfig-original-example: gzip
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Content-Encoding-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Thu, 16 Dec 2021 23:53:15 GMT"
                type: string
                x-konfig-original-example: "Thu, 16 Dec 2021 23:53:15 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Connection-schema
              style: simple
            Keep-Alive:
              explode: false
              schema:
                example: timeout=5
                type: string
                x-konfig-original-example: timeout=5
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Keep-Alive-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-gh-kyc-passport-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Passport
      tags:
      - GH KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-gh-kyc-passport
      x-accepts: application/json
  /api/v1/gh/kyc/ssnit:
    get:
      operationId: GHKYC_getSsnit
      parameters:
      - example: G0000000
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: G0000000
      - example: John Doe
        explode: true
        in: query
        name: full_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: John Doe
      - example: 1990-04-05
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1990-04-05
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSsnitResponse'
          description: OK
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: SSNIT
      tags:
      - GH KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-gh-kyc-ssnit
      x-accepts: application/json
  /api/v1/ug/kyc/voter:
    get:
      operationId: UGKYC_getVoter
      parameters:
      - example: 67335751
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 67335751
      - example: Happy
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Happy
      - example: Christmas
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Christmas
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoterResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Voters ID
      tags:
      - UG KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-ug-kyc-voter
      x-accepts: application/json
  /api/v1/ke/kyc/id:
    get:
      operationId: KEKYC_getNationalId
      parameters:
      - example: 24798402
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 24798402
      - example: ZEDEKIAH
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: ZEDEKIAH
      - example: ANDENGA
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: ANDENGA
      - explode: true
        in: query
        name: middle_name
        required: false
        schema:
          type: string
        style: form
      - example: 1985-12-29
        explode: true
        in: query
        name: date_of_birth
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1985-12-29
      - example: M
        explode: true
        in: query
        name: gender
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: M
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNationalIdResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - National ID
      tags:
      - KE KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-ke-kyc-id
      x-accepts: application/json
  /api/v1/kyc/dl:
    get:
      operationId: KYC_getDriversLicense
      parameters:
      - example: FKJ49409AB13
        explode: true
        in: query
        name: license_number
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: FKJ49409AB13
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKycDriversLicenseResponse'
          description: OK
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get Drivers License Info
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-dl
      x-accepts: application/json
  /api/v1/kyc/nuban:
    get:
      operationId: KYC_getNuban
      parameters:
      - example: 58
        explode: true
        in: query
        name: bank_code
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 58
      - example: 11223344
        explode: true
        in: query
        name: account_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 11223344
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNubanResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 547
                type: integer
                x-konfig-original-example: 547
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"223-awqCLWeHqrkGXYT0u4ObwmhtaeM"
                type: string
                x-konfig-original-example: W/"223-awqCLWeHqrkGXYT0u4ObwmhtaeM"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Tue, 06 Oct 2020 14:54:49 GMT"
                type: string
                x-konfig-original-example: "Tue, 06 Oct 2020 14:54:49 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-nuban-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get NUBAN Information
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-nuban
      x-accepts: application/json
  /api/v1/kyc/bvn:
    get:
      operationId: KYC_validateBvn
      parameters:
      - example: 22250148240
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 22250148240
      - example: FRANCIS
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: FRANCIS
      - example: 1982-02-19
        explode: true
        in: query
        name: dob
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1982-02-19
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateBvnResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Validate BVN
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-bvn
      x-accepts: application/json
  /api/v1/kyc/bvn/basic:
    get:
      operationId: KYC_getBasicBvn
      parameters:
      - example: 22468537919
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 22468537919
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBasicBvnResponse'
          description: OK
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get Basic BVN Info
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-bvn-basic
      x-accepts: application/json
  /api/v1/kyc/bvn/full:
    get:
      operationId: KYC_getFullBvn
      parameters:
      - example: 22222222222
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 22222222222
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFullBvnResponse'
          description: OK
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Lookup BVN Basic
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-bvn-full
      x-accepts: application/json
  /api/v1/kyc/bvn/advance:
    get:
      operationId: KYC_getPremiumBvn
      parameters:
      - example: 22305638508
        explode: true
        in: query
        name: bvn
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 22305638508
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPremiumBvnResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Thu, 28 Oct 2021 23:22:04 GMT"
                type: string
                x-konfig-original-example: "Thu, 28 Oct 2021 23:22:04 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Date-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Connection-schema
              style: simple
            access-control-allow-origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-access-control-allow-origin-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: 6925a539-953c-49a5-8835-ab3034c268e5
                type: string
                x-konfig-original-example: 6925a539-953c-49a5-8835-ab3034c268e5
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            service:
              explode: false
              schema:
                example: kyc_bvn_advance
                type: string
                x-konfig-original-example: kyc_bvn_advance
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: kyc
                type: string
                x-konfig-original-example: kyc
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-product-schema
              style: simple
            etag:
              explode: false
              schema:
                example: W/"8dad6-9+aM0fugmLIDPxSAQYKB6fzpqNA"
                type: string
                x-konfig-original-example: W/"8dad6-9+aM0fugmLIDPxSAQYKB6fzpqNA"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-etag-schema
              style: simple
            vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-vary-schema
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
                x-konfig-original-example: DYNAMIC
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-CF-Cache-Status-schema
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
                x-konfig-original-example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Expect-CT-schema
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=N8Knn6%2F6B8Y0NZm6wpjxiXsENx6u%2FlMRevPNAb0IrHo6yXQDcqqsZK%2Fx1DhZ5aX7JOLAKKizfiy3KaoTYpoOTNy0Mh5uPFuevRpB5jVualn1UmavKmNdk3YSQB0cPeVOLUQJG7E0%2BebAwg%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
                x-konfig-original-example: "{\"endpoints\":[{\"url\":\"https:\\/\\\
                  /a.nel.cloudflare.com\\/report\\/v3?s=N8Knn6%2F6B8Y0NZm6wpjxiXsENx6u%2FlMRevPNAb0IrHo6yXQDcqqsZK%2Fx1DhZ5aX7JOLAKKizfiy3KaoTYpoOTNy0Mh5uPFuevRpB5jVualn1UmavKmNdk3YSQB0cPeVOLUQJG7E0%2BebAwg%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Report-To-schema
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
                x-konfig-original-example: "{\"success_fraction\":0,\"report_to\"\
                  :\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-NEL-schema
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
                x-konfig-original-example: cloudflare
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Server-schema
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 6a57e76cde23150d-MAD
                type: string
                x-konfig-original-example: 6a57e76cde23150d-MAD
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-CF-RAY-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
                x-konfig-original-example: br
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-Content-Encoding-schema
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\"\
                  :443\"; ma=86400, h3-27=\":443\"; ma=86400"
                type: string
                x-konfig-original-example: "h3=\":443\"; ma=86400, h3-29=\":443\"\
                  ; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-bvn-advance-get-responses-200-headers-alt-svc-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Lookup BVN Premium
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-bvn-advance
      x-accepts: application/json
  /api/v1/kyc/vnin:
    get:
      operationId: KYC_getVnin
      parameters:
      - example: AB012345678910YZ
        explode: true
        in: query
        name: vnin
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: AB012345678910YZ
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVninResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Lookup VNIN
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-vnin
      x-accepts: application/json
  /v1/kyc/phone_number/basic:
    get:
      operationId: KYC_getBasicPhoneNumber
      parameters:
      - example: 8068810228
        explode: true
        in: query
        name: phone_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 8068810228
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBasicPhoneNumberResponse'
          description: OK
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC Lookup Phone Number Basic
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-kyc-phone_number-basic
      x-accepts: application/json
  /api/v1/kyc/phone_number:
    get:
      operationId: KYC_getPhoneNumber
      parameters:
      - example: 8011111111
        explode: true
        in: query
        name: phone_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 8011111111
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPhoneNumberResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPhoneNumber404Response'
          description: Not Found
          x-do-not-generate: true
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Lookup Phone Number
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-phone_number
      x-accepts: application/json
  /v1/kyc/age_verification:
    get:
      operationId: KYC_verifyAge
      parameters:
      - example: account_number
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: account_number
      - example: 3046507407
        explode: true
        in: query
        name: account_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 3046507407
      - example: 11
        explode: true
        in: query
        name: bank_code
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 11
      - example: 1993-06-10
        explode: true
        in: query
        name: dob
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 1993-06-10
      - example: Mosh
        explode: true
        in: query
        name: first_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Mosh
      - example: Saliu
        explode: true
        in: query
        name: last_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: Saliu
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyAgeResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-age_verification-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-age_verification-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 104
                type: integer
                x-konfig-original-example: 104
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-age_verification-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"68-yERzSjzlwoE0rxH3I+l3xtgO17I"
                type: string
                x-konfig-original-example: W/"68-yERzSjzlwoE0rxH3I+l3xtgO17I"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-age_verification-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 07 Oct 2020 16:39:16 GMT"
                type: string
                x-konfig-original-example: "Wed, 07 Oct 2020 16:39:16 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-age_verification-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-age_verification-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Age Verification
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-kyc-age_verification
      x-accepts: application/json
  /v1/kyc/bvn/verify:
    post:
      operationId: KYC_verifySelfieBvn
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySelfieBvnRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySelfieBvnResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Selfie BVN Verificatoin
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-kyc-bvn-verify
      x-content-type: application/json
      x-accepts: application/json
  /v1/kyc/nin/verify:
    post:
      operationId: KYC_verifySelfieNin
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifySelfieNinRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySelfieNinResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Selfie NIN Verification
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-kyc-nin-verify
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/kyc/vin:
    get:
      operationId: KYC_getVIN
      parameters:
      - example: vin
        explode: true
        in: query
        name: mode
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: vin
      - example: moshood
        explode: true
        in: query
        name: firstname
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: moshood
      - example: saliu
        explode: true
        in: query
        name: lastname
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: saliu
      - example: 55586
        explode: true
        in: query
        name: vin
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 55586
      - example: ondo
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: ondo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVinResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Mon, 12 Apr 2021 13:31:13 GMT"
                type: string
                x-konfig-original-example: "Mon, 12 Apr 2021 13:31:13 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-Date-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-Connection-schema
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"174-qSAnNYHgL5xH0o9R4/PAQ2cDzrE"
                type: string
                x-konfig-original-example: W/"174-qSAnNYHgL5xH0o9R4/PAQ2cDzrE"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-ETag-schema
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
                x-konfig-original-example: DYNAMIC
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-CF-Cache-Status-schema
              style: simple
            cf-request-id:
              explode: false
              schema:
                example: 0967e04d310000bf5f9c310000000001
                type: string
                x-konfig-original-example: 0967e04d310000bf5f9c310000000001
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-cf-request-id-schema
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
                x-konfig-original-example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-Expect-CT-schema
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"max_age\":604800,\"group\":\"cf-nel\",\"endpoints\":[{\"\
                  url\":\"https:\\/\\/a.nel.cloudflare.com\\/report?s=L1%2Bm8V1sbTZHEDg%2BrFsXtRcV2iIeRuQ9Zkt%2B49L91xIYYLr4oP7HU3DZaBVLfUjM%2F03DJHObMPkO6gpfaIuY6i%2FoCS0npvp5%2FDbAQzo%3D\"\
                  }]}"
                type: string
                x-konfig-original-example: "{\"max_age\":604800,\"group\":\"cf-nel\"\
                  ,\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report?s=L1%2Bm8V1sbTZHEDg%2BrFsXtRcV2iIeRuQ9Zkt%2B49L91xIYYLr4oP7HU3DZaBVLfUjM%2F03DJHObMPkO6gpfaIuY6i%2FoCS0npvp5%2FDbAQzo%3D\"\
                  }]}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-Report-To-schema
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"report_to\":\"cf-nel\",\"max_age\":604800}"
                type: string
                x-konfig-original-example: "{\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-NEL-schema
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
                x-konfig-original-example: cloudflare
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-Server-schema
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 63eccff518a0bf5f-AMS
                type: string
                x-konfig-original-example: 63eccff518a0bf5f-AMS
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-CF-RAY-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
                x-konfig-original-example: br
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-Content-Encoding-schema
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\"\
                  :443\"; ma=86400"
                type: string
                x-konfig-original-example: "h3-27=\":443\"; ma=86400, h3-28=\":443\"\
                  ; ma=86400, h3-29=\":443\"; ma=86400"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-kyc-vin-get-responses-200-headers-alt-svc-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get VIN
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-vin
      x-accepts: application/json
  /v1/kyc/email:
    get:
      operationId: KYC_getEmailReputation
      parameters:
      - example: johndoe@gmail.com
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: johndoe@gmail.com
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEmailReputationResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Wed, 21 Jul 2021 23:05:12 GMT"
                type: string
                x-konfig-original-example: "Wed, 21 Jul 2021 23:05:12 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-Date-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-Connection-schema
              style: simple
            CF-Ray:
              explode: false
              schema:
                example: 6728128dadddc500-LOS
                type: string
                x-konfig-original-example: 6728128dadddc500-LOS
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-CF-Ray-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"2e9-pCb+uGuPEvkJjAiEzq42IVp9ATs"
                type: string
                x-konfig-original-example: W/"2e9-pCb+uGuPEvkJjAiEzq42IVp9ATs"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-ETag-schema
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
                x-konfig-original-example: DYNAMIC
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-CF-Cache-Status-schema
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
                x-konfig-original-example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-Expect-CT-schema
              style: simple
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=XuvPXoaWVVjuT0s2pSoW3bC1PldQJXghR%2ByyYpfEKlTJMY2YZikSIKrSH8ujg7ikMaXtY4BjH1Niw1An4Jl3FKWfX1XL%2B30bj1prYkxmTYAFiMJ3iqXydDlE%2BqYyMR4%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
                x-konfig-original-example: "{\"endpoints\":[{\"url\":\"https:\\/\\\
                  /a.nel.cloudflare.com\\/report\\/v3?s=XuvPXoaWVVjuT0s2pSoW3bC1PldQJXghR%2ByyYpfEKlTJMY2YZikSIKrSH8ujg7ikMaXtY4BjH1Niw1An4Jl3FKWfX1XL%2B30bj1prYkxmTYAFiMJ3iqXydDlE%2BqYyMR4%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-Report-To-schema
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"report_to\":\"cf-nel\",\"max_age\":604800}"
                type: string
                x-konfig-original-example: "{\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-NEL-schema
              style: simple
            Vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-Vary-schema
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
                x-konfig-original-example: cloudflare
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-Server-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
                x-konfig-original-example: br
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-Content-Encoding-schema
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\"\
                  :443\"; ma=86400, h3=\":443\"; ma=86400"
                type: string
                x-konfig-original-example: "h3-27=\":443\"; ma=86400, h3-28=\":443\"\
                  ; ma=86400, h3-29=\":443\"; ma=86400, h3=\":443\"; ma=86400"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-email-get-responses-200-headers-alt-svc-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get Email Reputation
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-kyc-email
      x-accepts: application/json
  /api/v1/kyc/passport:
    get:
      operationId: KYC_getPassport
      parameters:
      - example: 70142502085
        explode: true
        in: query
        name: passport_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 70142502085
      - example: ololade
        explode: true
        in: query
        name: surname
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: ololade
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKycPassportResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Passport
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-kyc-passport
      x-accepts: application/json
  /api/v1/document/analysis:
    post:
      operationId: KYC_analyzeDocument
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeDocumentResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Document Analysis
      tags:
      - KYC
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-document-analysis
      x-accepts: application/json
  /v1/kyc/cac:
    get:
      operationId: KYB_getCac
      parameters:
      - example: 1432074
        explode: true
        in: query
        name: rc_number
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1432074
      - example: ELTA SOLUTIONS LIMITED
        explode: true
        in: query
        name: company_name
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: ELTA SOLUTIONS LIMITED
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCacResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-cac-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-cac-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 263
                type: integer
                x-konfig-original-example: 263
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-cac-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"107-41SJwH2M/TDtOClRlqxed6NP2lI"
                type: string
                x-konfig-original-example: W/"107-41SJwH2M/TDtOClRlqxed6NP2lI"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-cac-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Tue, 06 Oct 2020 16:08:17 GMT"
                type: string
                x-konfig-original-example: "Tue, 06 Oct 2020 16:08:17 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-cac-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-cac-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: 'KYC - Get CAC '
      tags:
      - KYB
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-kyc-cac
      x-accepts: application/json
  /v1/kyc/cac/basic:
    get:
      operationId: KYB_getBasicCac
      parameters:
      - example: 3330883
        explode: true
        in: query
        name: rc
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 3330883
      - example: bn
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: bn
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBasicCacResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYB - Get CAC 2
      tags:
      - KYB
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-kyc-cac-basic
      x-accepts: application/json
  /v1/kyc/cac/advance:
    get:
      operationId: KYB_getAdvancedCac
      parameters:
      - example: 1432074
        explode: true
        in: query
        name: rc
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1432074
      - example: co
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: co
      - example: advance
        explode: true
        in: query
        name: class
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: advance
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdvancedCacResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Get CAC Advanced
      tags:
      - KYB
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-kyc-cac-advance
      x-accepts: application/json
  /v1/kyc/tin:
    get:
      operationId: KYB_getTin
      parameters:
      - example: 21148119-0001
        explode: true
        in: query
        name: tin
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 21148119-0001
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTinResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-tin-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-tin-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 244
                type: integer
                x-konfig-original-example: 244
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-tin-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"f4-33tq3v78T6aKG4EjlF+RD4NJEG4"
                type: string
                x-konfig-original-example: W/"f4-33tq3v78T6aKG4EjlF+RD4NJEG4"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-tin-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Fri, 02 Oct 2020 12:31:55 GMT"
                type: string
                x-konfig-original-example: "Fri, 02 Oct 2020 12:31:55 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-tin-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-kyc-tin-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: KYC - Fetch Tin
      tags:
      - KYB
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-kyc-tin
      x-accepts: application/json
  /api/v1/messaging/sms:
    post:
      operationId: Authentication_sendSms
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendSmsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendSmsResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sms-post-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sms-post-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 130
                type: integer
                x-konfig-original-example: 130
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sms-post-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"82-hQNuuW562XiuyVWQdEM6qK2o3Yc"
                type: string
                x-konfig-original-example: W/"82-hQNuuW562XiuyVWQdEM6qK2o3Yc"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sms-post-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 05 Oct 2020 14:01:49 GMT"
                type: string
                x-konfig-original-example: "Mon, 05 Oct 2020 14:01:49 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sms-post-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sms-post-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Send SMS
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-messaging-sms
      x-content-type: application/json
      x-accepts: application/json
  /v1/messaging/sms/get_status:
    get:
      operationId: Authentication_getSmsStatus
      parameters:
      - example: 54818c8a-4aed-4e5f-b846-8274fd4e0bbd
        explode: true
        in: query
        name: message_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 54818c8a-4aed-4e5f-b846-8274fd4e0bbd
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSmsStatusResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-sms-get_status-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-sms-get_status-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 31
                type: integer
                x-konfig-original-example: 31
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-sms-get_status-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"1f-J3nlrUdeElvtvkF2S/UaHZnypss"
                type: string
                x-konfig-original-example: W/"1f-J3nlrUdeElvtvkF2S/UaHZnypss"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-sms-get_status-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Wed, 14 Oct 2020 13:11:20 GMT"
                type: string
                x-konfig-original-example: "Wed, 14 Oct 2020 13:11:20 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-sms-get_status-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-sms-get_status-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Get SMS Status
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-messaging-sms-get_status
      x-accepts: application/json
  /v1/messaging/otp:
    post:
      operationId: Authentication_sendOtp
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendOtpRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendOtpResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Fri, 29 Oct 2021 00:11:30 GMT"
                type: string
                x-konfig-original-example: "Fri, 29 Oct 2021 00:11:30 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-Date-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-Transfer-Encoding-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-Connection-schema
              style: simple
            access-control-allow-origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-access-control-allow-origin-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: c77bc061-4a70-42b9-88dd-c8bcb1ce64c4
                type: string
                x-konfig-original-example: c77bc061-4a70-42b9-88dd-c8bcb1ce64c4
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            etag:
              explode: false
              schema:
                example: W/"bc-oKUpfG+wOCA/ZZdrr7UCJAuXZOs"
                type: string
                x-konfig-original-example: W/"bc-oKUpfG+wOCA/ZZdrr7UCJAuXZOs"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-etag-schema
              style: simple
            vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-vary-schema
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
                x-konfig-original-example: DYNAMIC
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-CF-Cache-Status-schema
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
                x-konfig-original-example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-Expect-CT-schema
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=yutdxK3QJ9sWDVJWM8%2BhTq9o8reYJNw71SINNYN0anY70dzCpDQpTX1SiDzm%2FHPZaaHPovp9RttEjeQbUfzKQSyDuj%2BXSyuRD4bUNVd%2BRrV76JDo0o1EOUgXpDUL7sbncLIx27ewTrLoBQ%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
                x-konfig-original-example: "{\"endpoints\":[{\"url\":\"https:\\/\\\
                  /a.nel.cloudflare.com\\/report\\/v3?s=yutdxK3QJ9sWDVJWM8%2BhTq9o8reYJNw71SINNYN0anY70dzCpDQpTX1SiDzm%2FHPZaaHPovp9RttEjeQbUfzKQSyDuj%2BXSyuRD4bUNVd%2BRrV76JDo0o1EOUgXpDUL7sbncLIx27ewTrLoBQ%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-Report-To-schema
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
                x-konfig-original-example: "{\"success_fraction\":0,\"report_to\"\
                  :\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-NEL-schema
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
                x-konfig-original-example: cloudflare
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-Server-schema
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 6a582fc3df637767-LHR
                type: string
                x-konfig-original-example: 6a582fc3df637767-LHR
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-CF-RAY-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
                x-konfig-original-example: br
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-Content-Encoding-schema
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\"\
                  :443\"; ma=86400, h3-27=\":443\"; ma=86400"
                type: string
                x-konfig-original-example: "h3=\":443\"; ma=86400, h3-29=\":443\"\
                  ; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-post-responses-200-headers-alt-svc-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Send OTP
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-messaging-otp
      x-content-type: application/json
      x-accepts: application/json
  /v1/messaging/otp/validate:
    get:
      operationId: Authentication_validateOtp
      parameters:
      - example: a89e4b64-367f-414f-a189-1800bc364b05
        explode: true
        in: query
        name: reference_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: a89e4b64-367f-414f-a189-1800bc364b05
      - example: 81974
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 81974
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateOtpResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-validate-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-validate-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 25
                type: integer
                x-konfig-original-example: 25
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-validate-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"19-GBsO/UtcMY9D47ZVGAp0psXl/eA"
                type: string
                x-konfig-original-example: W/"19-GBsO/UtcMY9D47ZVGAp0psXl/eA"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-validate-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 05 Oct 2020 17:31:58 GMT"
                type: string
                x-konfig-original-example: "Mon, 05 Oct 2020 17:31:58 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-validate-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-messaging-otp-validate-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Validate OTP
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-messaging-otp-validate
      x-accepts: application/json
  /api/v1/messaging/sender_ids:
    get:
      operationId: Authentication_getSenderId
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSenderIdResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sender_ids-get-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sender_ids-get-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 330
                type: integer
                x-konfig-original-example: 330
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sender_ids-get-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"14a-pjN0reHYtXysWCyKwGmi/Sfm4qU"
                type: string
                x-konfig-original-example: W/"14a-pjN0reHYtXysWCyKwGmi/Sfm4qU"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sender_ids-get-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Fri, 30 Oct 2020 01:04:02 GMT"
                type: string
                x-konfig-original-example: "Fri, 30 Oct 2020 01:04:02 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sender_ids-get-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--api-v1-messaging-sender_ids-get-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Get Sender IDs
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-messaging-sender_ids
      x-accepts: application/json
  /api/v1/messaging/sender_id:
    post:
      operationId: Authentication_requestSenderId
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestSenderIdRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSenderIdResponse'
          description: Successful response
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Messaging - Request Sender ID
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-messaging-sender_id
      x-content-type: application/json
      x-accepts: application/json
  /v1/wallet/ngn/create:
    post:
      operationId: Wallet_createWallet
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                example-0:
                  summary: Create NGN Wallet
                  value:
                    entity:
                      wallet_id: 352a14e2-25ab-448a-86ed-8e9041540599
                      wallet_amount: 0
                      account_number: "1000039707"
                      phone_number: "08159090922"
                example-1:
                  summary: Create NGN Wallet Pelumi
                  value:
                    entity:
                      wallet_id: 867a8cae-8073-4914-8b04-d7fd096c1006
                      wallet_amount: 0
                      account_number: "1004204891"
                      phone_number: "09059895710"
              schema:
                $ref: '#/components/schemas/CreateWalletResponse'
          description: OK
          headers:
            X-Powered-By:
              explode: false
              schema:
                example: Express
                type: string
                x-konfig-original-example: Express
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-create-post-responses-200-headers-X-Powered-By-schema
              style: simple
            Access-Control-Allow-Origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-create-post-responses-200-headers-Access-Control-Allow-Origin-schema
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 140
                type: integer
                x-konfig-original-example: 140
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-create-post-responses-200-headers-Content-Length-schema
              style: simple
            ETag:
              explode: false
              schema:
                example: W/"8c-YS3fYUipsutx+W2IxHQkCO1CeU8"
                type: string
                x-konfig-original-example: W/"8c-YS3fYUipsutx+W2IxHQkCO1CeU8"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-create-post-responses-200-headers-ETag-schema
              style: simple
            Date:
              explode: false
              schema:
                example: "Mon, 25 Jan 2021 16:49:43 GMT"
                type: string
                x-konfig-original-example: "Mon, 25 Jan 2021 16:49:43 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-create-post-responses-200-headers-Date-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-create-post-responses-200-headers-Connection-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Create NGN Wallet
      tags:
      - Wallet
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-wallet-ngn-create
      x-content-type: application/json
      x-accepts: application/json
  /v1/wallet/ngn/retrieve:
    get:
      operationId: Wallet_getWallet
      parameters:
      - example: 694a047f-fb99-46d7-8c3c-d655716a834a
        explode: true
        in: query
        name: wallet_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 694a047f-fb99-46d7-8c3c-d655716a834a
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Thu, 28 Oct 2021 22:31:45 GMT"
                type: string
                x-konfig-original-example: "Thu, 28 Oct 2021 22:31:45 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-Date-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-Transfer-Encoding-schema
              style: simple
            Connection:
              explode: false
              schema:
                example: keep-alive
                type: string
                x-konfig-original-example: keep-alive
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-Connection-schema
              style: simple
            access-control-allow-origin:
              explode: false
              schema:
                example: '*'
                type: string
                x-konfig-original-example: '*'
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-access-control-allow-origin-schema
              style: simple
            x-moesif-transaction-id:
              explode: false
              schema:
                example: 3079fdf5-dd11-4ac4-a8f8-37ce02eb4823
                type: string
                x-konfig-original-example: 3079fdf5-dd11-4ac4-a8f8-37ce02eb4823
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-x-moesif-transaction-id-schema
              style: simple
            service:
              explode: false
              schema:
                example: retrieve_wallet_details
                type: string
                x-konfig-original-example: retrieve_wallet_details
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-service-schema
              style: simple
            product:
              explode: false
              schema:
                example: wallet
                type: string
                x-konfig-original-example: wallet
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-product-schema
              style: simple
            etag:
              explode: false
              schema:
                example: W/"a6-3BuJW39Z3Xb0YgSKa9EAbvZJC1c"
                type: string
                x-konfig-original-example: W/"a6-3BuJW39Z3Xb0YgSKa9EAbvZJC1c"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-etag-schema
              style: simple
            vary:
              explode: false
              schema:
                example: Accept-Encoding
                type: string
                x-konfig-original-example: Accept-Encoding
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-vary-schema
              style: simple
            CF-Cache-Status:
              explode: false
              schema:
                example: DYNAMIC
                type: string
                x-konfig-original-example: DYNAMIC
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-CF-Cache-Status-schema
              style: simple
            Expect-CT:
              explode: false
              schema:
                example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                type: string
                x-konfig-original-example: "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-Expect-CT-schema
              style: simple
            Report-To:
              explode: false
              schema:
                example: "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\\
                  /report\\/v3?s=tQFlZ1RZ3TenWsfrZYApbkIzqoORp12TJj0%2Bc%2BCYeTCmTcIP%2FJF58UwV%2FKIXCbVT2EF8UvwrbhlLv98LmeSPpgj6cnD4dvb1Smk%2B2z6LTU8RBYpiiroHrBiVwA4n9h9chB2ZlWNzbeTQng%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                type: string
                x-konfig-original-example: "{\"endpoints\":[{\"url\":\"https:\\/\\\
                  /a.nel.cloudflare.com\\/report\\/v3?s=tQFlZ1RZ3TenWsfrZYApbkIzqoORp12TJj0%2Bc%2BCYeTCmTcIP%2FJF58UwV%2FKIXCbVT2EF8UvwrbhlLv98LmeSPpgj6cnD4dvb1Smk%2B2z6LTU8RBYpiiroHrBiVwA4n9h9chB2ZlWNzbeTQng%3D%3D\"\
                  }],\"group\":\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-Report-To-schema
              style: simple
            NEL:
              explode: false
              schema:
                example: "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\"\
                  :604800}"
                type: string
                x-konfig-original-example: "{\"success_fraction\":0,\"report_to\"\
                  :\"cf-nel\",\"max_age\":604800}"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-NEL-schema
              style: simple
            Server:
              explode: false
              schema:
                example: cloudflare
                type: string
                x-konfig-original-example: cloudflare
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-Server-schema
              style: simple
            CF-RAY:
              explode: false
              schema:
                example: 6a579db5face7768-LHR
                type: string
                x-konfig-original-example: 6a579db5face7768-LHR
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-CF-RAY-schema
              style: simple
            Content-Encoding:
              explode: false
              schema:
                example: br
                type: string
                x-konfig-original-example: br
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-Content-Encoding-schema
              style: simple
            alt-svc:
              explode: false
              schema:
                example: "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\"\
                  :443\"; ma=86400, h3-27=\":443\"; ma=86400"
                type: string
                x-konfig-original-example: "h3=\":443\"; ma=86400, h3-29=\":443\"\
                  ; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-retrieve-get-responses-200-headers-alt-svc-schema
              style: simple
      security:
      - apikeyAuth: []
        appIdAuth: []
      summary: Retrieve Wallet Details
      tags:
      - Wallet
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-wallet-ngn-retrieve
      x-accepts: application/json
  /v1/wallet/ngn/accounts:
    get:
      operationId: Wallet_getWallets
      parameters:
      - example: "{{app_id}}"
        explode: true
        in: query
        name: app_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: "{{app_id}}"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWalletsResponse'
          description: OK
          headers:
            Date:
              explode: false
              schema:
                example: "Thu, 28 Oct 2021 22:08:44 GMT"
                type: string
                x-konfig-original-example: "Thu, 28 Oct 2021 22:08:44 GMT"
                x-konfig-generated-schema: konfig-generated-schema-paths--v1-wallet-ngn-accounts-get-responses-200-headers-Date-schema
              style: simple
            Transfer-Encoding:
              explode: false
              schema:
                example: chunked
                type: string
                x-konfig-original-example: chunked
[...]
